.gas-fees {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  color: var(--color-darker-gray);
  cursor: pointer;
  font-size: inherit;

  img {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    margin-bottom: -2px;
  }

  .estimate-crypto {
    height: 0.75rem;
    font-weight: 500;
  }

  .estimate-amount {
    height: 0.75rem;
    color: var(--color-darker-gray);
    font-weight: 500;
  }
}

.no-click {
  cursor: default;
}
