.wrapper {
  max-width: 46.8rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4.8rem auto 1.6rem;

  @include bp("tablet") {
    margin: 6rem auto 2.4rem;
  }
}

.list-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.menu-button {
  background-color: var(--v2-color-white);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.25s ease-in-out;
  cursor: pointer;

  svg {
    width: 2.2rem;
    height: 2.2rem;
  }

  &:hover,
  &.visible {
    background-color: var(--v2-color-icterine);
  }
}

.nav-wrapper {
  position: relative;
}

.menu-dropdown {
  position: absolute;
  visibility: hidden;
  background-color: var(--v2-color-white);
  border-radius: 1rem;
  width: 21.8rem;
  z-index: 2;
  top: 5rem;
  right: 0;
  cursor: auto;

  &.visible {
    visibility: visible;
  }

  box-shadow: 0 0.3rem 0.8rem 0 rgba(18, 18, 18, 0.2);

  @include bp("tablet") {
    left: 0;
    right: unset;
  }
}

.dropdown-list {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  .dropdown-item {
    font-size: 1.4rem;
    font-family: var(--font-atyp-text);
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.6rem;
  }
}
