.switch {
  position: relative;
  display: inline-block;
  width: 3.8rem;
  height: 2rem;

  &.disabled {
    input {
      &:checked + .slider {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-color: var(--v2-color-indigo);

      &:before {
        transform: translateX(1.6rem);
      }
    }
    &:focus + .slider {
      box-shadow: 0 0 1px var(--v2-color-indigo);
    }
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--v2-color-silver);
  transition: background-color 0.4s;
  border-radius: 3.4rem;

  &:before {
    position: absolute;
    content: "";
    height: 1.6rem;
    width: 1.6rem;
    left: 0.3rem;
    bottom: 0.2rem;
    background-color: var(--v2-color-white);
    transition: transform 0.4s;
    border-radius: 50%;
  }
}
