*.bak
*.swp
*.tmp
*~.nib
*.iml
*.launch
*.swp
*.log
*.jar
*.pem
*.tsbuildinfo
*.out
*.cbor
*.pprof
*.trace
*.exe
*.exe~
*.dll
*.so
*.dylib
*.iml
*.test
*.cov.tmp
*.iws
*.ipr

.classpath
.DS_Store
.env
.envrc
.java-version
.vscode
.loadpath
.metadata
.openzeppelin
.pnp
.pnp.js
.pnpm-store
.prefs
.project
.settings
.springBeans
.vercel
.vertx
.run/**.run.xml
.gocache
.vscode
.idea
.claude/
.ipynb_checkpoints
.cursor

atlassian-ide-plugin.xml
circuit.bin
coverage.html
debug.log
lispified
local.properties
next-env.d.ts
npm-debug.log*
tsconfig.build.tsbuildinfo
yarn-debug.log*
yarn-error.log*
proving_key.bin

.cache-synpress/
.externalToolBuilders/
.gradle/
.idea/
.next/
.recommenders/
.idea_modules/

**/src/*/generated
**/.direnv

bin/
build/
cache_forge/
coverage/
dist/
ipfs-cache/
node_modules/
out/
playwright-report/
target/
tmp/
typechain/
typechain-types/
__pycache__/

/besu-plugins/linea-sequencer/**/site

/bridge-ui/.env*.local
!/bridge-ui/.env.test
/bridge-ui/cache
/bridge-ui/out
/bridge-ui/test-results

/contracts/.env~
/contracts/coverage.json
/contracts/**/cache
/contracts/deployments/zkevm_dev
/contracts/lib/forge-std/

/jvm-libs/**/linux-aarch64
/jvm-libs/**/linux-x86-64
/jvm-libs/**/darwin-aarch64
/jvm-libs/**/darwin-x86-64

/prover/**/*.csv
# Exclude files in testdata directories, but not the directories themselves to allow
# add exceptions (gitignore doesn't permit exceptions when root dir is excluded)
/prover/**/testdata/*
# Testdata, otherwise that's 400MB of data downloaded
/prover/**/integration-testing/testdata/prover-requests/
/prover/**/vendor/
/prover/zkevm/zkevm.bin
/prover/prover-assets/**
/prover/**/profiling
/prover/**/large_data
/prover/**/test-data
/prover/**/cmake-build-*/
/prover/cmd/contract-gen/contract-gen
/prover/cmd/contract-gen/docker/**
/prover/integration/full-mode/**/config/prover-aggregation.toml
/prover/**/*-*-zkProof.json
/prover/**/prover/zkevm/arithmetization/zkevm.bin
/prover/crypto/ringsis/**/*.txt

/sdk/.nyc_output/
/sdk/scripts/contractAddresses.json
/sdk/src/lib/**/*.js
/sdk/scripts/*.js
/sdk/postman.db

/ts-libs/**/lib/**/*.so
/ts-libs/**/lib/**/*.dylib

/docker/config/l2-genesis-initialization/*.json
/docker/config/l2-genesis-initialization/*.toml

!.gitkeep
!operations/bin/
# Authorize the kzg srs folder
!prover/prover-assets/kzgsrs/**
!prover/symbolic/testdata/**/*.csv
!prover/symbolic/testdata/**/*.tar.gz
# except for single-round bin
!prover/**/single_round/bin/
# Various logging outputs
!prover/**/testdata/**/*.csv
!prover/**/utils/profiling
!prover/**/verifying_key.bin
!/sdk/src/lib/compressor/bin
# Allow BLS glue testdata generators
!prover/zkevm/prover/bls/testdata/*.go

.beads/