[submodule "go-corset"]
	path = go-corset
	url = git@github.com:Consensys/go-corset.git
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
