*.bak
*.swp
*.tmp
*~.nib
*.iml
*.launch
*.swp
*.log
*.jar
*.pem

.classpath
.DS_Store
.externalToolBuilders/
.env
.gradle/
.idea/
.java-version
.vscode
.loadpath
.metadata
.openzeppelin
.prefs
.project
.recommenders/
.settings
.springBeans
.vertx
.run/**.run.xml
.envrc
tsconfig.build.tsbuildinfo

**/src/*/generated
**/.direnv

bin/
build/
cache_forge/
coverage/
dist/
node_modules/
out/
target/
tmp/
typechain/
typechain-types/
!operations/bin/

/contracts/.env~
/contracts/coverage.json
/contracts/**/cache
/contracts/deployments/zkevm_dev
/contracts/lib/forge-std/

/prover/.direnv/
/prover/.envrc
/prover/testdata/
/prover/zkevm/zkevm.bin

/sdk/.nyc_output/
/sdk/scripts/contractAddresses.json
/sdk/src/lib/**/*.js
/sdk/scripts/*.js
/sdk/postman.db
!/sdk/src/lib/compressor/bin

/prover/cmd/contract-gen/contract-gen
/prover/cmd/contract-gen/docker/**

ts-libs/**/lib/**/*.so
ts-libs/**/lib/**/*.dylib