[submodule "constraints"]
	path = constraints
	url = git@github.com:ConsenSys/zkevm-constraints.git
[submodule "corset"]
	path = corset
	url = git@github.com:consensys/corset.git
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
