*.bak
*.swp
*.tmp
*~.nib
*.iml
*.launch
*.swp
*.log
*.jar
.classpath
.DS_Store
.externalToolBuilders/
.gradle/
.idea/
.vscode
.loadpath
.metadata
.prefs
.project
.recommenders/
.settings
.springBeans
.vertx
.run/**.run.xml
.envrc
bin/
!operations/bin/
target/
tmp/
build/
out/
node_modules/
**/src/*/generated
/prover/.direnv/
/prover/.envrc
/prover/testdata/
/prover/zkevm/zkevm.bin
**/.direnv
typechain
.env
/sdk/.nyc_output/
/sdk/scripts/contractAddresses.json
/sdk/src/lib/**/*.js
/sdk/scripts/*.js
/sdk/postman.db
!/sdk/src/lib/compressor/bin
dist
contracts/.env~
/prover/cmd/contract-gen/contract-gen
/prover/cmd/contract-gen/docker/**
/contracts/deployments/zkevm_dev
coverage
tsconfig.build.tsbuildinfo
ts-libs/**/lib/**/*.so
ts-libs/**/lib/**/*.dylib
contracts/lib/forge-std/
cache_forge