#
# https://help.github.com/articles/dealing-with-line-endings/
#
# Set the default behavior, in case people don't have core.autocrlf set.
* text eol=lf

/gradlew -text
*.md -text
*.jar -text
*.bat -text
*.pcap binary
*.blocks binary
*.dll binary
*.dylib binary
*.so binary
*.gz binary
*.ssz binary
*.ssz_snappy binary
*.png binary
*.cbor binary

prover/zkevm/arithmetization/zkevm.bin binary
prover/symbolic/testdata/**/*.cbor binary
prover/prover-assets/**/**/**/*.bin binary
prover/prover-assets/**/**/**/**/*.bin binary
prover/prover-assets/kzgsrs/* binary
prover/zkevm/arithmetization/*.bin binary

*.woff2 binary

