.form-wrapper {
  background-color: var(--color-white);
  border-radius: 0.625rem;
}

.headline {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.75rem 0.85rem 0.75rem 0.75rem;

  .title {
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--color-black);
  }

  .action {
    display: flex;
    gap: 0.25rem;

    .transaction-button {
      width: 2.5rem;
      height: 2.5rem;
      padding: 0.5rem;
      border-radius: 100%;
      &:hover {
        background-color: var(--color-smoke);
      }
    }

    .transaction-icon {
      width: 1.5rem;
      height: 1.5rem;
      color: var(--color-black);
    }
  }
}

.content {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.swap-chain-container {
  position: absolute;
  display: flex;
  align-items: center;
  width: 2rem;
  height: 100%;
  left: calc(50% - 1rem);
}

.exchange {
  position: relative;
  display: flex;
  gap: 1rem;
}

.amount-wrapper {
  background-color: var(--color-smoke);
  border-radius: 0.625rem;
  padding: 1rem;
  margin-top: 1rem;
  transition: box-shadow 0.25s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .right {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &:hover {
    box-shadow: inset 0 0 0 0.125rem var(--color-icterine);
  }
}

.destination-address-wrapper {
  background-color: var(--color-smoke);
  border-radius: 0.625rem;
  padding: 1rem;
  margin-top: 0.625rem;
  transition: box-shadow 0.25s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    box-shadow: inset 0 0 0 0.125rem var(--color-icterine);
  }
}

.connect-btn-wrapper {
  margin-top: 1rem;
}

.mobile-faq-help {
  @include bp("tablet") {
    display: none;
  }
}
