{
	"language": "Yul",
	"sources": {
		"%%YUL_FILE_NAME%%" : {
			"urls": ["%%YUL_FILE_PATH%%"]
		}
	},
	"settings": {
		"evmVersion": "london",
		"optimizer": { "enabled": false, "details": { "yul": true } },
		"outputSelection": {
			"*": {
			"": ["ast"],
			"*": ["abi", "metadata", "devdoc", "userdoc", "storageLayout", "evm.legacyAssembly", "evm.bytecode", "evm.deployedBytecode", "evm.methodIdentifiers", "evm.gasEstimates", "evm.assembly"]
			}
		}
	}
}

