@media only screen and (max-width: 767px) {
  .header {
    width: calc(100% - 1.5rem);
    margin-top: 0.73rem;
    padding: 1.6rem 1.665rem;
  }

  .logo {
    width: auto;
    height: 2.4rem;
  }
}
