<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="2">
  <Properties>
    <Property name="root.log.level">INFO</Property>
  </Properties>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSSZZZ} | %t | %-5level | %c{1} | %msg %throwable%n" />
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="org.hyperledger.besu" level="WARN" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.hyperledger.besu.consensus.qbft" level="DEBUG"
            additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="tech.pegasys.teku" level="TRACE" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="maru" level="INFO" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="maru.clients" level="DEBUG" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="maru.clients.el.engineapi" level="TRACE" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Root level="${sys:root.log.level}">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
