.value {
    .crypto {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 0.25rem;
    }
    .amount {
        font-size: 0.75rem;
        color: var(--v2-color-darker-gray);
        font-family: var(--font-atyp-text);
    }
}
