.destination-address {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;

  input {
    font-family: var(--font-atyp);
    background-color: var(--v2-color-smoke);
    margin-top: 0.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 0 0 1px var(--v2-color-silver);
    width: 100%;
    padding: 0.75rem 2.625rem 0.75rem 1rem;
    font-size: 0.875rem;
    color: var(--v2-color-black);
  }

  .btn-save {
    margin-top: 1rem;
  }

  &.success {
    .message-text {
      color: var(--v2-color-green);
    }
  }
  &.error {
    input:focus {
      box-shadow: inset 0 0 0 0.125rem var(--v2-color-red);
    }
    .message-text {
      color: var(--v2-color-red);
    }
  }
  &.warning {
    .message-text {
      color: var(--v2-color-dark-red);
    }
  }
}

.title {
  color: var(--v2-color-black);
  font-size: 0.875rem;
  font-weight: 500;
  font-family: var(--font-atyp-text);
  margin-bottom: 0.5rem;
}

.input-container {
  position: relative;
}

.message-text {
  font-family: var(--font-atyp-text);
  font-size: 0.75rem;
  margin-top: 0.25rem;
  line-height: 1.4;
}

.reset {
  width: 1rem;
  height: 1rem;
  color: var(--v2-color-darker-gray);
  position: absolute;
  right: 1rem;
  top: calc(50% - 0.5rem);
  cursor: pointer;
  visibility: hidden;

  &.show {
    visibility: visible;
  }
}
