@use "mixins" as *;

.wrapper {
  margin-top: 1rem;
  background-color: var(--color-smoke);
  border-radius: 0.625rem;
  padding: 1rem;
  min-height: 8.8rem;
  transition: box-shadow 0.25s ease-in-out;

  &:hover {
    box-shadow: inset 0 0 0 0.125rem var(--color-icterine);
  }
}

.setting {
  cursor: pointer;
  color: var(--color-indigo);
  display: flex;
  align-items: center;

  svg {
    width: 1rem;
    height: 1rem;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-atyp-text);

  .title {
    color: var(--color-black);
    font-size: 0.875rem;
    font-weight: 500;
  }
  .config {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.result {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;
}

.bottom {
  font-family: var(--font-atyp-text);
  font-size: 0.75rem;
  margin-top: 0.5rem;

  button {
    font-size: inherit;
    color: var(--color-indigo);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.warning {
  color: var(--color-text-secondary);
  font-family: var(--font-atyp-text);
  font-size: 0.75rem;
  line-height: 1.4;
  margin-top: 0.75rem;

  a {
    @include link-indigo;
  }
}
