.avatar {
  border-radius: 50%;
  background: linear-gradient(
    315.63deg,
    #f8cece 6.57%,
    #ed7878 32.99%,
    #e7781d 69.75%,
    #d36e09 89.28%,
    #d76e04 99.62%
  );

  &.default {
    width: 3.75rem;
    height: 3.75rem;
  }

  &.small {
    width: 1.5rem;
    height: 1.5rem;
  }
}

button.avatar {
  cursor: pointer;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
