.time {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  cursor: pointer;
  color: var(--color-darker-gray);
  font-size: inherit;
  font-weight: 500;

  span {
    color: var(--color-black);
    height: 0.75rem;
  }
}
