.container {
  display: flex;
  gap: 1.6rem;
}

.wallet-icon {
  background-color: #6119ef10;
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  svg {
    width: 1.9rem;
    height: auto;
  }
}
