// Responsive breakpoints
$mobile: 640px;
$tablet: 768px;
$desktop: 1024px;
$wide: 1280px;

@mixin bp($class) {
  @if $class == mobile {
    @media screen and (min-width: $mobile) {
      @content;
    }
  } @else if $class == tablet {
    @media screen and (min-width: $tablet) {
      @content;
    }
  } @else if $class == desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  } @else if $class == wide {
    @media screen and (min-width: $wide) {
      @content;
    }
  }
}
