[plugins]
docker = { id = "com.avast.gradle.docker-compose", version = "0.17.7" }
web3j = { id = "org.web3j", version.ref = "web3j" }
spotless = { id = "com.diffplug.spotless", version = "6.25.0" }
jreleaser = {id = "org.jreleaser", version = "1.15.0"}
download = { id = "de.undercouch.download", version = "5.6.0" }

[libraries]
jreleaser = { group = "org.jreleaser", name = "jreleaser-gradle-plugin", version = "1.15.0" }

[versions]
# Testing
assertj = "3.27.3"
awaitility = "4.3.0"
jsonUnit = "3.4.1"
junit = "5.10.1"
mockito = "5.7.0"
mockitoKotlin = "5.4.0"
restassured = "5.3.0"
wiremock = "3.13.0"
logcaptor = "2.11.0"

# Runtime
besu = "25.2.1-linea1"
blobCompressor = "1.2.1"
blobShnarfCalculator = "1.2.0"
bouncycastle = "1.79"
caffeine = "3.1.6"
hoplite = "2.9.0"
jackson = "2.19.0"
jna = "5.14.0"
kotlinResult = "1.1.16"
kotlinxDatetime = "0.6.2"
ktlint = "0.47.0"
log4j = "2.20.0"
micrometer = "1.8.4"
netty = "4.1.92.Final"
picoli = "4.7.6"
slf4j="1.7.36"
teku = "23.1.1"
tuweni = "2.4.2"
vertx = "4.5.14"
web3j = "4.12.2"
