*.pprof
*.trace
**/*.DS_Store
**/.ipynb_checkpoints
**/__pycache__
**/debug.log
**/*.lisp
lispified
**/profiling
!utils/profiling
**/large_data
**/*-*-zkProof.json
**/proving_key.bin
!**/verifying_key.bin
**/circuit.bin
prover/zkevm/arithmetization/zkevm.bin



# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
__pycache__
bin/
vendor/
.env

# except for single-round bin
!**/single_round/bin/

!/**/.gitkeep

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Coverage
coverage.html
*.cov.tmp

# Jetbrains files
.DS_Store
.idea
*.iml
.idea_modules/

# Build
build/
cmake-build-*/

# File-based project format
*.iws
*.ipr

# JIRA plugin
atlassian-ide-plugin.xml

# Go packages and sources:
.gocache

# Visual Code Studio
.vscode

!**/**/.gitkeep

# API Doc
node_modules

# Various logging outputs
**/*.csv
**/*.log
!**/testdata/**/*.csv

# Output of the generator command
test-data

# Testdata, otherwise that's 400MB of data downloaded
integration-testing/testdata/prover-requests/

# Authorize the kzg srs folder
prover-assets/**
!prover-assets/kzgsrs/**

# Handy for the pprof generated pdf
**/*.pdf

# For the json, csv and txt files generated while debugging the limitless prover
# OK to remove eventually.
protocol/distributed/**/*.json
protocol/distributed/**/*.txt
protocol/distributed/**/*.csv

