@import "breakpoints";
@import "reset";

:root {
  --tablet-mockup-width: 834;
  --desktop-mockup-width: 1440;

  --v2-color-white: #ffffff;
  --v2-color-smoke: #f8f7f2;
  --v2-color-silver: #c0c0c0;
  --v2-color-light-gray: #c3c3c3;
  --v2-color-dark-gray: #d8d8d8;
  --v2-color-darker-gray: #525252;
  --v2-color-black: #121212;
  --v2-color-navy: #190066;
  --v2-color-cyan: #61dfff;
  --v2-color-indigo: #6119ef;
  --v2-color-icterine: #fff068;
  --v2-color-tangerine: #ff8d4c;
  --v2-color-pink: #fcd6ff;
  --v2-color-light-pink: #f4effe;
  --v2-color-teal-blue: #007b9a;
  --v2-color-baby-blue: #ebfbff;
  --v2-color-red: #d73847;
  --v2-color-dark-red: #a63c00;
  --v2-color-green: #1c8234;
}

html[data-theme="v2"] {
  font-size: math.div(1000vw, 414);

  @media (min-width: 414px) {
    font-size: 10px;
  }

  box-sizing: border-box;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    font-family: var(--font-atyp);
    font-size: 1.6rem;
    background: var(--v2-color-smoke);
    color: var(--v2-color-black);
    margin: 0;

    &.mobile-navigation-open {
      overflow: hidden;
    }
  }

  main {
    position: relative;
    z-index: 2;
  }

  .layout {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .container-v2 {
    width: 100vw;
    max-width: 144rem;
    margin: 0 auto;
  }
  .left-illustration,
  .right-illustration {
    position: fixed;
    z-index: 1;
    display: none;
    bottom: 0;

    @include bp("desktop") {
      display: block;
    }
  }

  .left-illustration {
    left: 0;
    width: 30rem;
    height: auto;
    // top: 53rem;
  }
  .right-illustration {
    right: 0;
    width: 61rem;
    height: auto;
    // top: 17rem;
  }

  .mobile-illustration {
    position: absolute;
    bottom: 0;
    width: 100%;
    object-fit: cover;

    @include bp("desktop") {
      display: none;
    }

    &.hidden {
      display: none !important;
    }
  }
}

.pulsating {
  animation: pulsate 1s infinite alternate;
}

@keyframes pulsate {
  0% {
    background-color: var(--v2-color-smoke);
  }
  100% {
    background-color: #ecece8;
  }
}

// .dynamic-shadow-dom {
//   --dynamic-connect-button-background: var(--v2-color-indigo);
//   --dynamic-connect-button-color: var(--v2-color-white);
//   --dynamic-connect-button-border: none;
//   --dynamic-connect-button-background-hover: var(--v2-color-icterine);
//   --dynamic-connect-button-color-hover: var(--v2-color-black);
//   --dynamic-connect-button-border-hover: none;

//   --dynamic-border-radius: 2.33rem;
//   --dynamic-shadow-down-1: 0 0.10rem 0.19rem rgba(24, 39, 75, .04); /* (.0625×1.56 ≈ 0.10, .125×1.56 ≈ 0.19) */
//   --dynamic-shadow-down-2: 
//     0 1.17rem 1.94rem -0.58rem rgba(24, 39, 75, .02), /* (.75, 1.25, -0.375 scaled) */
//     0 1.56rem 2.53rem -0.39rem rgba(24, 39, 75, .04); /* (1, 1.625, -0.25 scaled) */
//   --dynamic-shadow-down-3: 0 2.33rem 3.11rem -2.33rem rgba(0, 0, 0, .24); /* (1.5, 2, -1.5 scaled) */
//   --dynamic-shadow-up-1: 0 -0.78rem 4.67rem -0.78rem rgba(109, 121, 165, .16); /* (-0.5, 3, -0.5 scaled) */
//   --dynamic-text-size-body-mini: 1.07rem;    /* .6875×1.56 */
//   --dynamic-text-size-body-normal: 1.46rem;   /* .9375×1.56 */
//   --dynamic-text-size-body-small: 1.17rem;    /* .75×1.56 */
//   --dynamic-text-size-button-primary: 1.36rem;  /* .875×1.56 */
//   --dynamic-text-size-button-secondary: 1.17rem; /* .75×1.56 */
//   --dynamic-text-size-numbers-big: 1.36rem;      /* .875×1.56 */
//   --dynamic-text-size-numbers-medium: 1.17rem;   /* .75×1.56 */
//   --dynamic-text-size-title: 1.75rem;            /* 1.125×1.56 */

//   --dynamic-search-bar-border: 0.10rem solid #eeeef1; /* .0625×1.56 */
//   --dynamic-search-bar-border-hover: 0.10rem solid #e7e8ed;
//   --dynamic-search-bar-border-focus: 0.10rem solid #e7e8ed;

//   --dynamic-modal-width: 35rem;
//   --dynamic-modal-padding: 2.33rem;

//   --dynamic-wallet-list-tile-padding: 1.17rem;
//   --dynamic-wallet-list-tile-gap: 0.58rem;
//   --dynamic-wallet-list-max-height: 25.27rem;

//   --dynamic-wallet-list-tile-shadow: 0 0.10rem 0.19rem rgba(24, 39, 75, .04);
//   --dynamic-wallet-list-tile-shadow-hover: 
//     0 1.17rem 1.94rem -0.58rem rgba(24, 39, 75, .02), 
//     0 1.56rem 2.53rem -0.39rem rgba(24, 39, 75, .04);

//   --dynamic-initial-view-content-padding: 0rem 2.33rem 2.33rem;
//   --dynamic-button-primary-font-size: 1.36rem;
//   --dynamic-button-primary-border: 0.10rem solid #e7e8ed;

//   --dynamic-button-secondary-font-size: 1.17rem;
//   --dynamic-button-secondary-border: 0.10rem solid transparent;
//   --dynamic-connect-button-shadow-hover: 
//     0 1.17rem 1.94rem -0.58rem rgba(24, 39, 75, .02), 
//     0 1.56rem 2.53rem -0.39rem rgba(24, 39, 75, .04);
//   --dynamic-search-padding: 0 2.33rem 1.5rem;
//   --dynamic-layout-content-padding: 0 2.33rem 2.33rem;
//   --dynamic-layout-content-error-padding: 2.33rem 2.33rem 2.33rem;
//   --dynamic-footer-border-top: 0.10rem solid #e7e8ed;
//   --dynamic-footer-padding: 1.17rem 2.33rem 1.17rem;
//   --dynamic-header-padding: 2.33rem 2.33rem 1.94rem;

//   --dynamic-text-link: var(--v2-color-indigo);
//   // --dynamic-text-size-body-mini: 1.1rem;
//   // --dynamic-text-size-body-normal: 1.5rem;
//   // --dynamic-text-size-body-small: 1.2rem;
//   // --dynamic-text-size-button-primary: 1.4rem;
//   // --dynamic-text-size-button-secondary: 1.2rem;
//   // --dynamic-text-size-numbers-big: 1.4rem;
//   // --dynamic-text-size-numbers-medium: 1.2rem;
//   // --dynamic-text-size-numbers-small: 1rem;
//   // --dynamic-text-size-title: 1.8rem;


//   // --dynamic-text-size-body-mini: 11px;
//   // --dynamic-text-size-body-normal: 15px;
//   // --dynamic-text-size-body-small: 12px;
//   // --dynamic-text-size-button-primary: 14px;
//   // --dynamic-text-size-button-secondary: 12px;
//   // --dynamic-text-size-numbers-big: 14px;
//   // --dynamic-text-size-numbers-medium: 12px;
//   // --dynamic-text-size-numbers-small: 10px;
//   // --dynamic-text-size-title: 18px;

//   // --dynamic-wallet-list-max-height: 21rem;
//   // --dynamic-wallet-list-tile-padding: 1rem;
//   // --dynamic-wallet-list-tile-gap: 0.5rem;
// }
