.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  padding: 1rem;
  border: 1px solid var(--color-silver);
  border-radius: 0.625rem;
  width: 100%;
  transition: background-color 0.2s ease-in-out;
  text-align: left;

  &:not(.verified) {
    cursor: pointer;
  }

  &:hover:not(.verified):not(:disabled) {
    background-color: var(--color-smoke);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.text {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.4;
  color: var(--color-black);
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  color: var(--color-black);

  &.verified {
    color: var(--color-cyan);
  }
}

.loader {
  width: 1.25rem;
  height: 1.25rem;
}
