.wrapper {
  position: sticky;
  top: 1.5rem;
  background-color: var(--color-white);
  border-radius: 1.25rem;
  padding: 1rem 0.5rem;
  width: 13.875rem;
  max-height: calc(100svh - 3rem);
  flex-shrink: 0;
  display: none;

  @include bp('tablet') {
    display: block;
  }
}

.logo {
  margin-left: 0.5rem;
  display: inline-flex;

  svg {
    width: 5.625rem;
    height: 1.625rem;
  }
}

.nav-container {
  margin-top: 1.75rem;

  & > ul {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
  }

  .nav-item {
    &.active {
      .nav-item-link {
        color: var(--color-white);
        background: var(--color-navy);

        .icon {
          background-color: unset;
        }
      }
    }

    &:not(.active) {
      .nav-item-link:hover {
        color: var(--color-black);
        background: var(--color-smoke);
        border-radius: 0.625rem;

        .icon {
          background-color: unset;
        }
      }
    }

    .nav-item-link {
      text-decoration: none;
      border-radius: 0.625rem;
      display: flex;
      padding: 0.3125rem 0.5rem;
      gap: 0.3125rem;
      color: var(--color-medium-gray);
      line-height: 1.44;
      transition: all 0.2s ease-in-out;

      .icon {
        border-radius: 50%;
        width: 1.25rem;
        height: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: inherit;

        svg {
          width: 1.25rem;
          height: 1.25rem;
          color: inherit;
        }
      }
    }
  }
}

.sub-items {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  margin-top: 0.3125rem;
}

.sub-item {
  border-radius: 0.625rem;
  color: var(--color-darker-gray);

  &:hover {
    color: var(--text-color);
    background: linear-gradient(
        90deg,
        var(--color-smoke) 0%,
        var(--color-white) 100%
    );
  }

  &.active {
    color: var(--text-color);
    background: linear-gradient(
        90deg,
        var(--bg-color) 0%,
        var(--color-white) 95.39%
    );
  }

  & > a,
  & > span {
    display: flex;
    width: 100%;
    padding: 0.53125rem 0 0.53125rem 2.8125rem;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
  }
}
