[submodule "zkevm-constraints"]
	path = zkevm-constraints
	url = git@github.com:Consensys/zkevm-constraints.git
[submodule "reference-tests/src/test/resources/ethereum-tests"]
	path = reference-tests/src/test/resources/ethereum-tests
	url = https://github.com/ethereum/tests.git
