*.bak
*.swp
*.tmp
*~.nib
*.iml
*.launch
*.swp
*.log
*.out
*~
nohup.out
.classpath
.DS_Store
.externalToolBuilders/
.gradle/
.idea/
.cargo/
.loadpath
.metadata
.prefs
.project
.recommenders/
.settings
.springBeans
.vertx
./bin
local.properties
target/
tmp/
build/
out/
site/
/.direnv/
/.envrc
reference-tests/src/test/java/net/consensys/linea/generated/*
!reference-tests/src/test/java/net/consensys/linea/generated/.gitkeep
arithmetization/bin/
acceptance-tests/bin/
reference-tests/bin/
**/*Trace.java
**/*GlobalConstants.java
