repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-xml
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.29.1
    hooks:
      - id: commitizen
        stages: [ commit-msg ]
  - repo: https://github.com/jguttman94/pre-commit-gradle
    rev: v0.3.0  # Use the ref you want to point at
    hooks:
      - id: gradle-spotless
        args: [ "--wrapper", "--output" ]
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.17
    hooks:
      - id: mdformat
