.modal-inner {
  padding: 0 1rem 1rem 1rem;
  font-family: var(--font-atyp-text);
}

.text {
  color: var(--v2-color-darker-gray);
  font-size: 1rem;
  font-family: var(--font-atyp-text);
  margin-bottom: 1rem;
  text-align: center;
  line-height: 1.4;

  button {
    font-size: 1rem;
    color: var(--v2-color-indigo);
    text-decoration: none;
  }
}
