include:
  - compose-tracing-v2.yml

services:
  web3signer:
    extends:
      file: compose-spec-l2-services.yml
      service: web3signer

  shomei-frontend:
    extends:
      file: compose-spec-l2-services.yml
      service: shomei-frontend

  postman:
    extends:
      file: compose-spec-l2-services.yml
      service: postman

  transaction-exclusion-api:
    extends:
      file: compose-spec-l2-services.yml
      service: transaction-exclusion-api

  l2-node-besu:
    extends:
      file: compose-spec-l2-services.yml
      service: l2-node-besu
    image: consensys/${BESU_PACKAGE_IMAGE_NAME:-linea-besu-package-with-fleet}:${BESU_PACKAGE_TAG:-beta-v4.4-rc7.4-20260210173356-7d711e6}
    command:
      - --config-file=/var/lib/besu/l2-node-besu.config.toml
      - --genesis-file=/initialization/genesis-besu.json
      - --plugin-linea-rejected-tx-endpoint=http://transaction-exclusion-api:8080
      - --plugin-linea-node-type=RPC
      - --bootnodes=enode://14408801a444dafc44afbccce2eb755f902aed3b5743fed787b3c790e021fef28b8c827ed896aa4e8fb46e22bd67c39f994a73768b4b382f8597b0d44370e15d@11.11.11.101:30303
      - --rpc-http-api=ADMIN,DEBUG,NET,ETH,WEB3,PLUGINS,LINEA,FLEET
      - --plugins=LineaEstimateGasEndpointPlugin,LineaExtraDataPlugin,LineaTransactionPoolValidatorPlugin,LineaBundleEndpointsPlugin,ForwardBundlesPlugin,FleetPlugin
      - --plugin-fleet-node-role=LEADER

  l2-node-besu-follower:
    extends:
      file: compose-spec-l2-services.yml
      service: l2-node-besu-follower
    image: consensys/${BESU_PACKAGE_IMAGE_NAME:-linea-besu-package-with-fleet}:${BESU_PACKAGE_TAG:-beta-v4.4-rc7.4-20260210173356-7d711e6}
    command:
      - --config-file=/var/lib/besu/l2-node-besu.config.toml
      - --genesis-file=/initialization/genesis-besu.json
      - --plugin-linea-rejected-tx-endpoint=http://transaction-exclusion-api:8080
      - --plugin-linea-node-type=RPC
      - --bootnodes=enode://14408801a444dafc44afbccce2eb755f902aed3b5743fed787b3c790e021fef28b8c827ed896aa4e8fb46e22bd67c39f994a73768b4b382f8597b0d44370e15d@11.11.11.101:30303
      - --rpc-http-api=ADMIN,DEBUG,NET,ETH,WEB3,PLUGINS,LINEA,FLEET
      - --plugins=LineaEstimateGasEndpointPlugin,LineaExtraDataPlugin,LineaTransactionPoolValidatorPlugin,LineaBundleEndpointsPlugin,ForwardBundlesPlugin,FleetPlugin
      - --plugin-fleet-node-role=FOLLOWER
      - --plugin-fleet-leader-http-host=l2-node-besu
      - --plugin-fleet-leader-http-port=8545
      - --plugin-fleet-follower-http-host=l2-node-besu-follower
      - --plugin-fleet-follower-http-port=8545
      - --plugin-fleet-follower-heartbeat-delay=4
