include:
  - compose-tracing-v2.yml

services:
  web3signer:
    extends:
      file: compose-spec-l2-services.yml
      service: web3signer

  l2-node-besu:
    extends:
      file: compose-spec-l2-services.yml
      service: l2-node-besu

  shomei-frontend:
    extends:
      file: compose-spec-l2-services.yml
      service: shomei-frontend

  postman:
    extends:
      file: compose-spec-l2-services.yml
      service: postman

  transaction-exclusion-api:
    extends:
      file: compose-spec-l2-services.yml
      service: transaction-exclusion-api

  transfer-bot:
    extends:
      file: compose-spec-l2-services.yml
      service: transfer-bot
