.modal-inner {
  padding: 0 1rem 1rem 1rem;
  font-family: var(--font-atyp-text);
  display: flex;
  flex-direction: column;
  gap: 1rem;

  a {
    display: flex;
    align-self: center;
    gap: 0.5rem;
    align-items: center;
    color: var(--v2-color-indigo);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    svg {
      color: var(--v2-color-silver);
    }
  }
}

.text {
  text-align: center;
  line-height: 1.4;
}
