# Required for dev and sepolia environments
INFURA_PROJECT_ID=
L1_WHALE_ACCOUNTS_PRIVATE_KEYS=
L2_WHALE_ACCOUNTS_PRIVATE_KEYS=
L1_WHALE_ACCOUNTS_ADDRESSES=
L2_WHALE_ACCOUNTS_ADDRESSES=

# Optional: override default genesis file paths (local only)
# LOCAL_L1_GENESIS=
# LOCAL_L2_GENESIS=

# Optional: log level (defaults to "info")
# LOG_LEVEL=
