.content-wrapper {
  max-width: 29.25rem;
  margin: 0 auto 1.5rem;
}

.title {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

ul.list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

li.item {
  border-radius: 0.625rem;
  background-color: var(--color-white);
  padding: 1rem;

  .item-title {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
  }
  .button {
    svg {
      width: 1rem;
      height: 1rem;
      color: var(--color-black);
    }
  }

  .content {
    font-size: 0.875rem;
    line-height: 1.4;

    a {
      color: var(--color-indigo);

      &:hover {
        color: var(--color-navy);
      }
    }

    ul {
      list-style-type: disc;
      padding-left: 1.25rem;

      &:not(:last-child) {
        margin-bottom: 0.625rem;
      }
    }

    p:not(:last-child) {
      margin-bottom: 0.625rem;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
