.content-wrapper {
  max-width: 29.25rem;
  margin: 3rem auto 1.5rem;

  width: calc(100% - 3rem);

  @include bp("tablet") {
    margin-top: 3.75rem;
    width: 100%;
  }
}

.title {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.home-link {
  text-decoration: none;
  color: var(--v2-color-indigo);
  font-size: 0.875rem;

  &:hover {
    text-decoration: underline;
  }

  svg {
    width: 0.5625rem;
    height: 0.5625rem;
    margin-right: 0.5rem;
  }
}
