.logo-wrapper {
  position: relative;
  width: 4rem;
  height: 4rem;
}

.big {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.small {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  border: 1px solid var(--v2-color-smoke);
}
