.banner-wrapper {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: calc(100% - 0.9375rem);
  border-radius: 1.25rem;
  margin-top: 0.5rem;

  @include bp("tablet") {
    width: calc(100% - 4.5rem);
  }
}

.banner {
  background-color: var(--v2-color-indigo);
  color: var(--v2-color-white);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.inner {
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 2.1875rem;
  line-height: 1.4;

  @include bp("tablet") {
    max-width: 80%;
    text-align: center;
  }

  &:hover {
    text-decoration: underline;
  }
}

.external-icon {
  width: 0.5rem;
  height: 0.5rem;
  margin-left: 0.5rem;
}

.left-illustration,
.right-illustration {
  position: absolute;
  height: 100%;
  top: 0;
  display: none;
}

.left-illustration {
  left: 0.625rem;

  @include bp("desktop") {
    display: block;
  }
}

.right-illustration {
  right: -40%;
  display: block;

  @include bp("desktop") {
    right: 0;
  }
}

.close-icon {
  position: absolute;
  right: 1rem;
  width: 1rem;
  height: 1rem;
  top: 0.625rem;
  color: var(--v2-color-white);
  cursor: pointer;
  z-index: 2;

  @include bp("tablet") {
    top: calc(50% - 0.5rem);
  }
}
