.swap-chain {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  background-color: var(--v2-color-smoke);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  outline: 0.3rem solid var(--v2-color-white);
  transition:
    transform,
    background-color 0.2s ease;

  &.rotate-360 {
    transform: rotate(360deg);
  }

  &:hover {
    background-color: var(--v2-color-icterine);
  }

  &:disabled {
    background-color: var(--v2-color-smoke);
  }
}

.arrow-icon {
  width: 0.875rem;
  height: auto;
  color: var(--v2-color-black);
}
