.wrapper {
  position: relative;
  font-family: var(--font-atyp-text);

  &:hover {
    .submenu {
      visibility: visible;
    }
  }
}
.avatar {
  border-radius: 50%;
  cursor: pointer;

  img {
    width: 2rem;
    height: 2rem;
  }
}

.submenu {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(calc(100% + 1.2rem));
  display: flex;
  flex-direction: column;
  // gap: 1rem;
  // padding: 1.6rem;
  background-color: var(--color-white);
  color: var(--color-black);
  width: max-content;
  border-radius: 0.3125rem;

  .right {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  .submenuItem {
    & > * {
      padding: 0.75rem;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .copy-icon {
      cursor: pointer;
      width: 1rem;
      height: 1rem;
    }

    .check-icon {
      width: 1rem;
      height: 1rem;
    }

    button {
      font-size: 1rem;
      cursor: pointer;
      border-radius: 0.3125rem;
      transition:
        background-color 0.2s ease,
        color 0.2s ease;

      &:hover {
        background-color: var(--color-red);
        color: var(--color-white);
      }
    }

    a {
      display: flex;
      align-items: center;
      gap: 0.375rem;
      text-decoration: none;

      .newTab {
        width: 0.5rem;
        height: 0.5rem;
        color: var(--color-dark-gray);
      }

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.75rem;
    transform: translateY(-100%);
  }
}
