.container {
  position: relative;
  font-family: var(--font-atyp-text);
}

.button {
  width: 100%;
  padding: 0.375rem 0.5rem 0.25rem;
  border-radius: 6.25rem;
  background-color: var(--color-white);
  display: flex;
  column-gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 0.875rem;
}

.selectedOption {
  display: flex;
  align-items: center;
  line-height: 1;
  gap: 0.375rem;
}

.flag {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.dropdown {
  position: absolute;
  top: 100%;
  z-index: 10;
  right: 0;
  background: var(--color-white);
  border-radius: 0.625rem;
  box-shadow: 0 0.1875rem 0.5rem 0 rgba(18, 18, 18, 0.2);
  width: max-content;
  min-width: 100%;
  margin-top: 0.25rem;
  overflow: hidden;
}

.option {
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--color-light-pink);
  }
}

.caret {
  width: 0.75rem;
  height: 0.75rem;
}

.label {
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}

.description {
  font-size: 0.75rem;
  color: var(--color-darker-gray);
}

.modalContent {
  padding-bottom: 1.5rem;

  .option {
    padding: 0.75rem 1.5rem;
  }
}
