.card-item {
  background-color: var(--v2-color-smoke);
  border-radius: 0.625rem;
  transition: background-color 0.25s ease-in-out;

  &.dropdown {
    background-color: var(--v2-color-white);
    border-radius: unset;
    width: 100%;

    &.open {
      .caret {
        transform: rotate(180deg);
      }
    }

    &:hover {
      background-color: var(--v2-color-light-pink);
    }

    .card-link {
      padding: 0.75rem 1rem;
    }

    .right-arrow {
      display: none;
    }
  }
}

.card-link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem;

  &:hover {
    .right-arrow {
      background-color: var(--v2-color-cyan);
    }
  }
}

.card-wrapper {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.card-icon {
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
  align-self: flex-start;
}

.card-content {
  color: var(--v2-color-navy);
  font-family: var(--font-atyp-text);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;

  .card-title {
    font-size: 1rem;
    line-height: 1.4;
  }

  .card-description {
    font-size: 0.75rem;
    line-height: 1.4;
  }
}

.card-title-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card-label {
  background-color: var(--v2-color-light-pink);
  color: var(--v2-color-indigo);
  font-size: 0.75rem;
  line-height: 1;
  padding: 0.25rem 0.5rem;
  border-radius: 3.125rem;
}

.right-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  background-color: var(--v2-color-white);
  border-radius: 50%;
  transition: background-color 0.25s ease-in-out;

  svg {
    width: 0.875rem;
    height: 0.875rem;
  }
}

.caret {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--v2-color-darker-gray);
  transition: transform 0.25s ease-in-out;

  svg {
    width: 1.125rem;
    height: 1.125rem;
  }
}
