.modal-inner {
  padding: 0 1rem 1rem 1rem;
  font-family: var(--font-atyp-text);
}

.container {
  background-color: var(--v2-color-smoke);
  border-radius: 0.625rem;
  padding: 0.75rem;
  display: flex;
  gap: 1.5rem;
}

.title {
  font-weight: 500;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
}

.text {
  color: var(--v2-color-darker-gray);
  font-size: 0.75rem;
  line-height: 1.4;
}

.icon {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}

.content {
  display: flex;
  gap: 0.5rem;
}

.toggle {
  flex-shrink: 0;
}
