.form-wrapper {
  background-color: var(--v2-color-white);
  border-radius: 0.625rem;
  padding: 1.5rem;
}

.headline {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;

  .title {
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--v2-color-black);
  }

  .action {
    display: flex;
    gap: 1rem;

    .transaction-icon {
      width: 1.25rem;
      height: 1.25rem;
      color: var(--v2-color-black);
    }
  }
}

.swap-chain-container {
  position: absolute;
  left: calc(50% - 1rem);
  top: calc(50% - 1rem);
}

.exchange {
  position: relative;
  display: flex;
  gap: 0.5rem;
}

.amount-wrapper {
  background-color: var(--v2-color-smoke);
  border-radius: 0.625rem;
  padding: 1rem;
  margin-top: 0.625rem;
  transition: box-shadow 0.25s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .right {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &:hover {
    box-shadow: inset 0 0 0 0.125rem var(--v2-color-icterine);
  }
}

.destination-address-wrapper {
  background-color: var(--v2-color-smoke);
  border-radius: 0.625rem;
  padding: 1rem;
  margin-top: 0.625rem;
  transition: box-shadow 0.25s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    box-shadow: inset 0 0 0 0.125rem var(--v2-color-icterine);
  }
}

.connect-btn-wrapper {
  margin-top: 1rem;
}

.mobile-faq-help {
  @include bp("tablet") {
    display: none;
  }
}
