.userInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  margin-top: 1rem;

  @include bp(tablet) {
    margin-top: 0;
  }
}

.labelWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  svg {
    opacity: 0.5;
  }
}

.label {
  font-family: var(--font-atyp-text);
  font-size: 0.75rem;
  line-height: 1.4;
  color: var(--color-black);

  &.primary {
    font-size: 1.5rem;
    font-family: var(--font-atyp);
  }
}
