.button {
  font-size: 0.875rem;
  border-radius: 1.875rem;
  padding: 0.75rem 1.5rem;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease,
    color 0.2s ease;

  &.primary {
    color: var(--color-white);
    background-color: var(--color-indigo);

    &:hover:not(.disabled) {
      background-color: var(--color-icterine);
      color: var(--color-black);
    }
  }

  &.link {
    padding: 0;

    &:hover:not(.disabled) {
      color: var(--color-black);
    }
  }

  &.outline {
    color: var(--color-indigo);
    border: 2px solid var(--color-indigo);

    &:hover:not(.disabled) {
      background-color: var(--color-indigo);
      color: var(--color-white);
    }
  }

  &.full-width {
    width: 100%;
  }

  &.disabled {
    opacity: 50%;
    cursor: not-allowed;
  }
}
