TIMELOCK_PROPOSERS="0xf39fd6e51aad88f6f4ce6ab8827279cfffb92266"
TIMELOCK_EXECUTORS="0xf39fd6e51aad88f6f4ce6ab8827279cfffb92266"

LINEA_ROLLUP_SECURITY_COUNCIL="0xf39fd6e51aad88f6f4ce6ab8827279cfffb92266"
LINEA_ROLLUP_OPERATORS="0x70997970C51812dc3A010C7d01b50e0d17dc79C8"
LINEA_ROLLUP_RATE_LIMIT_PERIOD="86400" #24Hours in seconds
LINEA_ROLLUP_RATE_LIMIT_AMOUNT="1000000000000000000000" #1000ETH

L2MSGSERVICE_SECURITY_COUNCIL="0xf39fd6e51aad88f6f4ce6ab8827279cfffb92266"
L2MSGSERVICE_L1L2_MESSAGE_SETTER="0x90F79bf6EB2c4f870365E785982E1f101E93b906"
L2MSGSERVICE_RATE_LIMIT_PERIOD="86400" #24Hours in seconds
L2MSGSERVICE_RATE_LIMIT_AMOUNT="1000000000000000000000" #1000ETH

BLOCKCHAIN_NODE="https://sepolia.infura.io/v3/<infura_key>"
L2_BLOCKCHAIN_NODE="https://linea-sepolia.infura.io/v3/<infura_key>"
PRIVATE_KEY=

VERIFIER_ADDRESS="0x5FbDB2315678afecb367f032d93F642f64180aa3"
VERIFIER_PROOF_TYPE="1"
VERIFIER_CONTRACT_NAME="PlonkVerifier"

LINEA_ROLLUP_ADDRESS="0xCf7Ed3AccA5a467e9e704C703E8D87F634fB0Fc9"
NEW_CONTRACT_NAME="LineaRollup"
PROXY_ADDRESS="0xCf7Ed3AccA5a467e9e704C703E8D87F634fB0Fc9"
LINEA_ROLLUP_INITIAL_L2_BLOCK_NUMBER="0"
LINEA_ROLLUP_INITIAL_STATE_ROOT_HASH="0x113e9977cebf08f3b271d121342540fce95530c206c2a878ae957925e1d0fc02"

WITHDRAW_LIMIT_IN_WEI=100000000000000000000000
MESSAGE_SERVICE_ADDRESS="0xe537D669CA013d86EBeF1D64e40fC74CADC91987"
MESSAGE_SERVICE_TYPE="L2MessageService"

# Token Bridge
L1_RESERVED_TOKEN_ADDRESSES=
L2_RESERVED_TOKEN_ADDRESSES=

LINEA_SAFE_L1=
LINEA_SAFE_L2=

ETHERSCAN_API_KEY=

NATIVE_YIELD_AUTOMATION_SERVICE_ADDRESS=
MINIMUM_WITHDRAWAL_RESERVE_PERCENTAGE_BPS=
TARGET_WITHDRAWAL_RESERVE_PERCENTAGE_BPS=
MINIMUM_WITHDRAWAL_RESERVE_AMOUNT=
TARGET_WITHDRAWAL_RESERVE_AMOUNT=
VAULT_HUB=
VAULT_FACTORY=
STETH=