.wrapper {
  max-width: 29.25rem;
  margin: 1.5rem auto;
  padding-left: 1.25rem;

  @include bp(tablet) {
    padding-left: 1.5rem;
  }
}

.back {
  text-decoration: none;
  color: var(--color-indigo);
  font-size: 0.875rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    text-decoration: underline;
  }

  svg {
    width: 0.5rem;
    height: auto;
  }
}
