<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1} - %msg%n"/>
      <!--      <PatternLayout pattern="%msg%n"/>-->
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="test.fake.clients" level="info" additivity="false">
      <AppenderRef ref="console"/>
    </Logger>
    <Logger name="test.clients.l1.events-fetcher" level="trace" additivity="false">
      <AppenderRef ref="console"/>
    </Logger>
    <Logger name="test.clients.l1.executionlayer" level="TRACE" additivity="false">
      <AppenderRef ref="console"/>
    </Logger>
    <Logger name="test.clients.l1.blobscan" level="debug" additivity="false">
      <AppenderRef ref="console"/>
    </Logger>
    <Logger name="linea.staterecover.BlobDecompressorToDomainV1" level="debug" additivity="false">
      <AppenderRef ref="console"/>
    </Logger>
    <Root level="debug" additivity="false">
      <appender-ref ref="console"/>
    </Root>
  </Loggers>
</Configuration>
