.wrapper {
  max-width: 29.25rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 3rem auto 1rem;

  @include bp("tablet") {
    margin: 3.75rem auto 1.5rem;
  }

  &.hide {
    margin-bottom: 0;
  }
}

.dropdown-wrapper {
  position: relative;
  width: 100%;

  button {
    width: 100%;
    border-radius: 0.625rem;
    overflow: hidden;
  }
}

.list-nav {
  position: absolute;
  top: 4.625rem;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(18, 18, 18, 0.09);
  background-color: var(--v2-color-white);
  border-radius: 0.625rem;
  overflow: hidden;
}

.list-nav-mobile {
  padding: 0.5rem 0.5rem 1.5rem;
}
