name: gradle

on:
  push:
    branches:
      - main
  pull_request:

env:
  CARGO_NET_GIT_FETCH_WITH_CLI: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v4

      - name: Set up GCC
        uses: egor-tensin/setup-gcc@v1

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: temurin

      - name: Build and test
        run: ./gradlew build
        env:
          JAVA_OPTS: -Xmx2g -Dorg.gradle.daemon=false

      - name: Store distribution artifacts
        uses: actions/upload-artifact@v3
        with:
          name: distributions
          path: sequencer/build/libs

  acceptanceTest:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v4

      - name: Set up GCC
        uses: egor-tensin/setup-gcc@v1

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: temurin

      - name: Run acceptance tests
        run: ./gradlew :acceptance-tests:acceptanceTests
        env:
          JAVA_OPTS: -Dorg.gradle.daemon=false

      - name: Upload test report
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: acceptance-test-report
          path: acceptance-tests/build/reports/tests/

  libCompressTest:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v4

      - name: Set up GCC
        uses: egor-tensin/setup-gcc@v1

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: temurin

      - name: Run libcompress JNI tests
        run: ./gradlew :native:compress:test
        env:
          JAVA_OPTS: -Dorg.gradle.daemon=false

      - name: Upload test report
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: compress-test-report
          path: compress/build/reports/tests/

  spotless:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21
      - name: spotless
        run: ./gradlew --no-daemon --parallel clean spotlessCheck
