genesis-file="/var/lib/besu/genesis.json"
logging="DEBUG"
data-path="/opt/besu/data"
data-storage-format="FOREST"
sync-mode="FULL"
host-allowlist=["*"]
revert-reason-enabled=true

target-gas-limit=2000000000
min-gas-price=1000000
tx-pool-min-gas-price=0
max-peers=10

# engine
engine-host-allowlist=["*"]
engine-rpc-port=8550
engine-jwt-disabled=true

# rpc
rpc-http-enabled=true
rpc-http-host="0.0.0.0"
rpc-http-port=8545
rpc-http-api=["ADMIN","DEBUG","NET","ETH","CLIQUE","MINER","WEB3","TRACE","LINEA"]
rpc-http-cors-origins=["*"]
rpc-http-max-active-connections=20000

# ws
rpc-ws-enabled=true
rpc-ws-host="0.0.0.0"
rpc-ws-port=8546
rpc-ws-api=["ADMIN","DEBUG","NET","ETH","CLIQUE","MINER","WEB3","TRACE"]
rpc-ws-max-active-connections=200

# graphql
graphql-http-enabled=false

# metrics
metrics-enabled=true
metrics-host="0.0.0.0"
metrics-port=9545

tx-pool-no-local-priority=false
#
api-gas-and-priority-fee-limiting-enabled=false
api-gas-and-priority-fee-lower-bound-coefficient=120
api-gas-and-priority-fee-upper-bound-coefficient=300
poa-block-txs-selection-max-time=1000

# plugins
plugins=["LineaEstimateGasEndpointPlugin","LineaL1FinalizationTagUpdaterPlugin","LineaExtraDataPlugin", "LineaTransactionPoolValidatorPlugin"]
plugin-linea-module-limit-file-path="/var/lib/besu/traces-limits.toml"
plugin-linea-deny-list-path="/var/lib/besu/deny-list.txt"
plugin-linea-estimate-gas-compatibility-mode-enabled=false
plugin-linea-extra-data-pricing-enabled=true
plugin-linea-l1l2-bridge-contract="0xe537D669CA013d86EBeF1D64e40fC74CADC91987"
plugin-linea-l1l2-bridge-topic="e856c2b8bd4eb0027ce32eeaf595c21b0b6b4644b326e5b7bd80a1cf8db72e6c"
plugin-linea-tx-pool-profitability-check-api-enabled=true
plugin-linea-tx-pool-profitability-check-p2p-enabled=true
plugin-linea-tx-pool-simulation-check-api-enabled=false
plugin-linea-tx-pool-simulation-check-p2p-enabled=false
plugin-linea-max-block-calldata-size=109000
plugin-linea-max-tx-calldata-size=60000
plugin-linea-max-block-gas=50000000
plugin-linea-tx-pool-min-margin="0.8"
plugin-linea-min-margin="1.0"
plugin-linea-fixed-gas-cost-wei=30000000
plugin-linea-variable-gas-cost-wei=1000000000
plugin-linea-extra-data-set-min-gas-price-enabled=false
plugin-linea-estimate-gas-min-margin="1.2"
strict-tx-replay-protection-enabled=false

Xplugin-rocksdb-high-spec-enabled=true
Xsynchronizer-fast-sync-full-validation-rate=0.000001
tx-pool-priority-senders=["0xfe3b557e8fb62b89f4916b721be55ceb828dbd73",
  "0xd42e308fc964b71e18126df469c21b0d7bcb86cc",
  "0x1b9abeec3215d8ade8a33607f2cf0f4f60e5f0d0",
  "0xc8c92fe825d8930b9357c006e0af160dfa727a62"]

Xin-process-rpc-enabled=true
Xin-process-rpc-apis=["ETH", "MINER"]


