<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1} - %msg%n"/>
      <!--      <PatternLayout pattern="%msg%n"/>-->
    </Console>
  </Appenders>
  <Loggers>
    <!-- Set level to DEBUG to log Web3J request/responses     -->
    <!--    <Logger name="test.clients.l1.execution-layer" level="trace" additivity="false">-->

    <Logger name="test.fake.clients" level="trace" additivity="false">
      <AppenderRef ref="console"/>
    </Logger>
    <Logger name="test.clients.l1.events-fetcher" level="trace" additivity="false">
      <!--    <Logger name="test.clients" level="trace" additivity="false">-->
      <AppenderRef ref="console"/>
    </Logger>
    <Logger name="test.clients.l1.blobscan" level="trace" additivity="false">
      <AppenderRef ref="console"/>
    </Logger>
    <Root level="info" additivity="false">
      <appender-ref ref="console"/>
    </Root>
  </Loggers>
</Configuration>
