.no-fees {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  color: var(--v2-color-darker-gray);
  cursor: initial;
  font-size: inherit;

  img {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
  }

  .text {
    color: var(--v2-color-indigo);
    font-weight: 500;
    height: 0.75rem;
  }
}