.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #12121240;
  backdrop-filter: blur(0.625rem);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.content {
  border-radius: 0.625rem;
  overflow: hidden;
  position: relative;
  top: -5rem;
  color: var(--v2-color-black);
  background: var(--v2-color-white);

  width: calc(100% - 3rem);

  @include bp("tablet") {
    &.md {
      width: 26.25rem;
    }
    &.lg {
      width: 28.5rem;
    }
  }
}

.drawer {
  background: var(--v2-color-white);
  border-radius: 0.625rem 0.625rem 0 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 90%;
  height: auto;
  box-shadow: 0 -0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.title {
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 500;
}

.close-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  top: 0.875rem;
  right: 1rem;

  svg {
    width: 1rem;
    height: 1rem;
    color: var(--v2-color-darker-gray);
  }
}
