.transaction-item {
  position: relative;
  background-color: var(--v2-color-white);
  padding: 1rem;
  border-radius: 0.625rem;
  transition: box-shadow 0.25s ease-in-out;
  display: flex;
  justify-content: space-between;
  column-gap: 0.5rem;
  font-family: var(--font-atyp-text);
  cursor: pointer;

  &:hover {
    box-shadow: inset 0 0 0 0.125rem var(--v2-color-icterine);
  }

  &.completed {
    .status {
      color: var(--v2-color-indigo);
      background-color: var(--v2-color-light-pink);
    }
  }
  &.ready {
    .status {
      color: var(--v2-color-teal-blue);
      background-color: var(--v2-color-baby-blue);
    }
  }
}

.left {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.25rem;
}

.date {
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--v2-color-darker-gray);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: space-between;
}

.code {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 600;
}

.value-wrapper {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 600;
  padding-right: 0.5rem;
}

.unit {
  text-transform: uppercase;
}

.status {
  padding: 0.25rem 0.5rem;
  border-radius: 1.875rem;
  color: var(--v2-color-darker-gray);
  background-color: var(--v2-color-smoke);
  font-size: 0.75rem;
  display: flex;
  gap: 0.25rem;
  align-items: center;

  svg {
    width: 0.75rem;
    height: 0.75rem;
  }
}
