{
  "chainId": 1337,
  "config": {
    "0": {
      "type": "difficultyAwareQbft",
      "blockTimeSeconds": 1,
      "postTtdConfig": {
        "validatorSet": ["0x083e11f14b68d5ebeb4be3e3e0237ebbc5675ab5"],
        "elFork": "Paris"
      },
      "terminalTotalDifficulty": 8
    },
    "1789631893": {
      "type": "qbft",
      "validatorSet": ["0x083e11f14b68d5ebeb4be3e3e0237ebbc5675ab5"],
      "blockTimeSeconds": 1,
      "elFork": "Shanghai"
    }
  }
}
