{
  "config": {
    "0": {
      "type": "delegated",
      "blockTimeSeconds": 1
    },
    "%PRAGUE_TIME%": {
      "type": "qbft",
      "blockTimeSeconds": 7,
      "feeRecipient": "0x0000000000000000000000000000000000000000",
      "elFork": "Prague"
    }
  }
}
