environment = "integration-development"
version = "4.0.0"
assets_dir = "/opt/linea/prover/prover-assets"
log_level = 4                                  # TODO @gbotrel will be refactored with new logger. 

[controller]
retry_delays = [0, 1]

[execution]
prover_mode = "dev"

[blob_decompression]
prover_mode = "dev"

[aggregation]
prover_mode = "dev"
num_proofs = [10]
allowed_inputs = [
    "execution-dummy",
    "blob-decompression-dummy",
    "blob-decompression-v0",
]
verifier_id = 0

[layer2]
chain_id = 1337
base_fee = 7
coin_base = "0x8F81e2E3F8b46467523463835F965fFE476E1c9E"
message_service_contract = "0xe537D669CA013d86EBeF1D64e40fC74CADC91987"
