data-path="/opt/besu/data"
host-allowlist=["*"]
sync-mode="FULL"
p2p-port=30303

min-gas-price=0

# engine
engine-host-allowlist=["*"]
engine-rpc-port=8550

# rpc
rpc-http-enabled=true
rpc-http-host="0.0.0.0"
rpc-http-port=8545
rpc-http-cors-origins=["*"]
rpc-http-api=["ADMIN","DEBUG","NET","ETH","WEB3","PLUGINS","MINER","LINEA"]
rpc-http-max-active-connections=200

# ws
rpc-ws-enabled=true
rpc-ws-host="0.0.0.0"
rpc-ws-port=8546
rpc-ws-api=["ADMIN","TXPOOL","WEB3","ETH","NET","PERM"]
rpc-ws-max-active-connections=200

# graphql
graphql-http-enabled=false

# metrics
metrics-enabled=true
metrics-host="0.0.0.0"
metrics-port=9545

# database
data-storage-format="BONSAI"

# plugins
plugins=["TracerReadinessPlugin","TracesEndpointServicePlugin","LineCountsEndpointServicePlugin","CaptureEndpointServicePlugin"]
plugin-linea-conflated-trace-generation-traces-output-path="/data/traces/v2/conflated"
plugin-linea-rpc-concurrent-requests-limit=2
plugin-linea-tracer-readiness-server-host="0.0.0.0"
plugin-linea-tracer-readiness-server-port=8548
plugin-linea-tracer-readiness-max-blocks-behind=5

Xbonsai-limit-trie-logs-enabled=false
bonsai-historical-block-limit=1024
