.layout {
  padding: 0.625rem 0.5rem 0 0.5rem;

  @include bp("tablet") {
    padding: 1.5rem 1.5rem 0 1.5rem;
  }
}

.container {
  display: flex;
  column-gap: 1.5rem;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
}

.right {
  min-height: calc(100svh - 5.25rem - 0.625rem);
  width: 100%;
  min-width: 0;
  margin-bottom: 5.25rem;

  @include bp("tablet") {
    margin-bottom: 0;
    min-height: calc(100svh - 3rem);
  }
}
