<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
<!--            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>-->
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- change to DEBUG below to log web3j JSON-RPC calls -->
        <Logger name="net.consensys.linea.jsonrpc" level="trace" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Root level="warn" additivity="false">
            <appender-ref ref="console"/>
        </Root>
    </Loggers>
</Configuration>
