.wrapper {
  z-index: 35;
  position: fixed;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 5.25rem;
  backdrop-filter: blur(1.25rem);
  background-color: rgba(255, 250, 255, 0.8);

  @include bp('tablet') {
    display: none;
  }

  :global(.mobile-navigation-open) &,
  :global(.mobile-search-open) & {
    display: none;
  }
}

.nav-container {
  padding: 0.625rem 1.75rem 0;

  ul {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .nav-item {
    &.active {
      .nav-item-link {
        color: var(--color-black);

        .icon {
          background-color: unset;
        }
      }
    }

    .nav-item-link {
      font-size: 0.875rem;
      text-decoration: none;
      color: var(--color-medium-gray);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      border-radius: 0.625rem;
      transition: color 0.3s linear;

      &:hover {
        svg {
          animation: scaleClick 0.5s cubic-bezier(0.45, 0, 0.55, 1);
        }
      }

      .icon {
        display: flex;

        svg {
          color: inherit;
          width: 1.5rem;
          height: 1.5rem;
          transition: color 0.3s linear;
        }
      }
    }
  }
}

@keyframes scaleClick {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
