<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="2">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
<!--      <Property name="logPattern">time=%d{ISO8601}Z level=%level message=%m | logger=%c{1} thread=%t | %throwable%n-->
<!--      </Property>-->
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSSZZZ} | %t | %-5level | %c{1} | %msg %throwable{short.message}%n" />
    </Console>
  </Appenders>
  <Loggers>
    <Root level="TRACE">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
