@use "mixins" as *;

.modal-inner {
  padding: 0 1rem 1rem 1rem;
}

.list {
  background-color: var(--color-smoke);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-family: var(--font-atyp-text);

  li {
    padding: 0.75rem;
    font-size: 0.875rem;
    display: flex;
    justify-content: space-between;

    .date-time {
      display: flex;
      gap: 0.5rem;

      & > :first-child {
        font-weight: 500;
      }
    }

    .price {
      font-weight: 500;
    }

    .hash {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      a {
        @include link-indigo;
      }

      svg {
        width: 0.5rem;
        height: 0.5rem;
        color: var(--color-silver);
        transform: rotate(-45deg);
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-silver);
    }
  }
}

.actions {
  display: flex;
  gap: 0.75rem;
  margin-bottom: 0.75rem;
}

.action {
  flex: 1;
}

.error-text {
  color: var(--color-red, #d32f2f);
  font-family: var(--font-atyp-text);
  font-size: 0.75rem;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 0.75rem;
}

.low-liquidity-info {
  color: var(--color-darker-gray);
  font-family: var(--font-atyp-text);
  font-size: 0.75rem;
  line-height: 1.4;
  text-align: center;

  .helper-text {
    margin-bottom: 0.75rem;
  }

  .terms-text {
    a {
      @include link-indigo;
    }
  }
}
