name: bridge-ui-e2e-tests

permissions:
  contents: read
  actions: read

on:
  pull_request:
    branches:
      - main
    paths:
      - 'bridge-ui/**'
      - '.github/workflows/bridge-ui-e2e-tests.yml'
      - '!bridge-ui/**/*.md'
      - '.nvmrc'
  push:
    branches:
      - main
    paths:
      - 'bridge-ui/**'
      - '.github/workflows/bridge-ui-e2e-tests.yml'
      - '!bridge-ui/**/*.md'
      - '.nvmrc'

jobs:
  run-e2e-tests:
    if: github.event.pull_request.head.repo.fork == false
    runs-on: gha-runner-scale-set-ubuntu-22.04-amd64-xl
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Use for testing workflow only (and not publish to Docker)
      - uses: actions/cache@v4.2.0
        with:
          # This workflow requires a ~1GB cache
          path: |
            ~/.npm
            ~/.cache/ms-playwright
            ~/_work/.pnpm-store/v3
            ${{ github.workspace }}/bridge-ui/.next/cache
            ${{ github.workspace }}/bridge-ui/.cache-synpress
          # Don't make cache key too specific as
          # i.) Risk exceeding Github cache storage limit (10GB)
          # ii.) Add ~3 minutes to each workflow run to save cache for a new cache key
          key: ${{ runner.os }}-bridge-ui-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-bridge-ui-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Setup nodejs environment
        uses: ./.github/actions/setup-nodejs
        with:
          pnpm-install-options: '--frozen-lockfile --prefer-offline'

      - name: Install Playwright
        run: pnpm dlx playwright@1.53.2 install --with-deps chromium

      - name: Build Bridge UI
        run: |
          pnpm run -F @consensys/linea-sdk-core build;
          pnpm run -F @consensys/linea-sdk-viem build;
          pnpm run -F bridge-ui build;
        env:
          NEXT_PUBLIC_WALLET_CONNECT_ID: ${{ secrets.PUBLIC_WALLET_CONNECT_ID }}
          NEXT_PUBLIC_INFURA_ID: ${{ secrets.PUBLIC_BRIDGE_UI_INFURA_ID }}
          NEXT_PUBLIC_ALCHEMY_API_KEY: ${{ secrets.NEXT_PUBLIC_ALCHEMY_API_KEY }}
          NEXT_PUBLIC_QUICKNODE_ID: ${{ secrets.PUBLIC_BRIDGE_UI_QUICKNODE_ID }}
          NEXT_PUBLIC_WEB3_AUTH_CLIENT_ID: ${{ secrets.NEXT_PUBLIC_WEB3_AUTH_TESTNET_CLIENT_ID }}
          # Web3Auth Auth Connection IDs (not used in E2E tests - social login not tested)
          NEXT_PUBLIC_CONNECTOR_GOOGLE_ID: ""
          NEXT_PUBLIC_CONNECTOR_PASSWORDLESS_ID: ""
          NEXT_PUBLIC_CONNECTOR_GROUPED_ID: ""
          NEXT_PUBLIC_LIFI_API_KEY: ${{ secrets.PUBLIC_LIFI_API_KEY }}
          NEXT_PUBLIC_LIFI_INTEGRATOR_NAME: ${{ secrets.PUBLIC_LIFI_INTEGRATOR_NAME }}
          NEXT_PUBLIC_ONRAMPER_API_KEY: ${{ secrets.PUBLIC_ONRAMPER_API_KEY }}
          NEXT_PUBLIC_LAYERSWAP_API_KEY: ${{ secrets.PUBLIC_LAYERSWAP_API_KEY }}
          NEXT_PUBLIC_ENVIRONMENT: local
          REVALIDATE_SECRET: ${{ secrets.BRIDGE_UI_REVALIDATE_SECRET }}
          CONTENTFUL_SPACE_ID: ${{ secrets.CONTENTFUL_SPACE_ID }}
          NEXT_PUBLIC_E2E_TEST_MODE: true
          NEXT_PUBLIC_IS_CCTP_ENABLED: false

      - name: Install linux dependencies
        run: |
          sudo apt-get install --no-install-recommends -y xvfb

      - name: Run unit tests
        run: pnpm run -F bridge-ui test:unit
        env:
          # Can run unit tests in parallel
          CI: "false"
          DOTENV_CONFIG_PATH: ".env.production"
          NEXT_PUBLIC_INFURA_ID: ${{ secrets.PUBLIC_BRIDGE_UI_INFURA_ID }}
          NEXT_PUBLIC_ALCHEMY_API_KEY: ${{ secrets.NEXT_PUBLIC_ALCHEMY_API_KEY }}
          NEXT_PUBLIC_LIFI_API_KEY: "placeholder"
          NEXT_PUBLIC_LIFI_INTEGRATOR_NAME: "placeholder"
          NEXT_PUBLIC_WALLET_CONNECT_ID: "placeholder"
          NEXT_PUBLIC_WEB3_AUTH_CLIENT_ID: "placeholder"
          NEXT_PUBLIC_CONNECTOR_GOOGLE_ID: ""
          NEXT_PUBLIC_CONNECTOR_PASSWORDLESS_ID: ""
          NEXT_PUBLIC_CONNECTOR_GROUPED_ID: ""
          NEXT_PUBLIC_QUICKNODE_ID: "placeholder"
          NEXT_PUBLIC_E2E_TEST_MODE: false

      - name: Login to Docker Hub
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 #v3.4.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Pull all images with retry
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 #v3.0.2
        with:
          max_attempts: 10
          retry_on: error
          retry_wait_seconds: 30
          timeout_minutes: 10
          command: |
            make docker-pull-images-external-to-monorepo

      - name: Create directory for conflated traces
        run: |
          mkdir -p tmp/local/traces/v2/conflated
          chmod -R a+rw tmp/local/

      - name: Spin up fresh environment with besu tracing with retry
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 #v3.0.2
        with:
          max_attempts: 10
          retry_on: error
          retry_wait_seconds: 30
          timeout_minutes: 10
          command: |
            make start-env-with-tracing-v2-ci CLEAN_PREVIOUS_ENV=false
          on_retry_command: |
            make clean-environment

      - name: List docker containers/images
        continue-on-error: true
        run: |
          docker ps -la && docker images
          docker container ls -a

      - name: Initialize Metamask testing fixture
        run: xvfb-run -a pnpm run -F bridge-ui build:cache
        env:
          E2E_TEST_SEED_PHRASE: "test test test test test test test test test test test junk"
          E2E_TEST_WALLET_PASSWORD: "TestPassword!"

      # Prerequisite - Testing wallet must have >0 ETH and USDC on Sepolia
      - name: Run E2E tests
        run: xvfb-run -a pnpm run -F bridge-ui test:e2e:headful
        env:
          # Do not run E2E tests in parallel. Especially blockchain tx where nonces can collide.
          CI: "true"
          DOTENV_CONFIG_PATH: ".env.test"
          NEXT_PUBLIC_WEB3_AUTH_CLIENT_ID: ${{ secrets.NEXT_PUBLIC_WEB3_AUTH_TESTNET_CLIENT_ID }}

      - name: Archive Playwright report
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: playwright-report-headful
          path: |
            bridge-ui/playwright-report-headful/
          if-no-files-found: error

  notify:
    needs: [ run-e2e-tests ]
    if: ${{ always() && github.ref == 'refs/heads/main' && needs.run-e2e-tests.result == 'failure' }}
    uses: ./.github/workflows/slack-notify-failed-jobs.yml
    with:
      title: 'Bridge UI E2E Tests workflow failed'
      run_id: ${{ github.run_id }}
    secrets:
      channel_id: ${{ secrets.SLACK_ENGINEERING_ALERTS_CHANNEL_ID }}
      slack_bot_token: ${{ secrets.SLACK_GITHUB_ACTIONS_ALERTS_BOT_TOKEN }}
