name: Run Bridge UI E2E Tests

on:
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/bridge-ui-e2e-tests.yml'
      - 'bridge-ui/**'
      - '!bridge-ui/**/*.md'
  push:
    branches:
      - main
    paths:
      - '.github/workflows/bridge-ui-e2e-tests.yml'
      - 'bridge-ui/**'
      - '!bridge-ui/**/*.md'

jobs:
  run-e2e-tests:
    runs-on: gha-runner-scale-set-ubuntu-22.04-amd64-med
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup nodejs environment
        uses: ./.github/actions/setup-nodejs
        with:
          node-version: 18.17.0
          pnpm-install-options: '--frozen-lockfile --prefer-offline'

      - name: Install Playwright
        run: pnpm dlx playwright@1.45.3 install --with-deps

      - name: Build Bridge UI
        run: pnpm run -F bridge-ui build;
        env:
          NEXT_PUBLIC_WALLET_CONNECT_ID: ${{ secrets.PUBLIC_WALLET_CONNECT_ID }}
          NEXT_PUBLIC_INFURA_ID: ${{ secrets.PUBLIC_BRIDGE_UI_INFURA_ID }}

      - name: Install linux dependencies
        run: |
          sudo apt-get install --no-install-recommends -y xvfb

      - name: Build synpress cache
        run: xvfb-run pnpm run -F bridge-ui build:cache
        env:
          E2E_TEST_PRIVATE_KEY: ${{ secrets.BRIDGE_UI_E2E_TESTS_PRIVATE_KEY }}
          E2E_TEST_SEED_PHRASE: "test test test test test test test test test test test junk"
          E2E_TEST_WALLET_PASSWORD: "TestPassword!"
          NEXT_PUBLIC_INFURA_ID: ${{ secrets.PUBLIC_BRIDGE_UI_INFURA_ID }}

      - name: Run tests
        run: xvfb-run pnpm run -F bridge-ui test:e2e:headful
        env:
          CI: "true"
          E2E_TEST_PRIVATE_KEY: ${{ secrets.BRIDGE_UI_E2E_TESTS_PRIVATE_KEY }}
          E2E_TEST_SEED_PHRASE: "test test test test test test test test test test test junk"
          E2E_TEST_WALLET_PASSWORD: "TestPassword!"
          NEXT_PUBLIC_INFURA_ID: ${{ secrets.PUBLIC_BRIDGE_UI_INFURA_ID }}

      - name: Archive Playwright report
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: playwright-report-headful
          path: |
            bridge-ui/playwright-report-headful/
          if-no-files-found: error
