name: Cache Docker Images CI
on:
  workflow_call:
    secrets:
      DOCKERHUB_USERNAME:
        required: false
      DOCKERHUB_TOKEN:
        required: false

permissions:
  contents: write
  issues: write
  pull-requests: write
  actions: write

jobs:
  check-dockerhub-secrets-present:
    runs-on: gha-runner-scale-set-ubuntu-22.04-amd64-small
    env:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
    name: Check if DockerHub secrets are present
    outputs:
      secrets_present: ${{ steps.check-secrets-present-step.outputs.DOCKERHUB_SECRET_PRESENT }}
    steps:
      - id: check-secrets-present-step
        run: |
          echo DOCKERHUB_SECRET_PRESENT=${{ env.DOCKERHUB_USERNAME != '' && env.DOCKERHUB_TOKEN != '' }} >> $GITHUB_OUTPUT

  changes:
    needs: [ check-dockerhub-secrets-present ]
    if: ${{ always() && needs.check-dockerhub-secrets-present.outputs.secrets_present == 'true' }}
    runs-on: gha-runner-scale-set-ubuntu-22.04-amd64-small
    name: Filter commit changes
    outputs:
      cache_images: ${{ steps.filter.outputs.cache_images }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Filter commit changes
        uses: dorny/paths-filter@v3
        id: filter
        with:
          base: ${{ github.ref }}
          list-files: "json"
          filters: |
            cache_images:
              - 'docker/compose.yml'
              - 'docker/compose-local-dev.overrides.yml'
              - 'docker/compose-local-dev-traces-v2.overrides.yml'

  pull-and-cache-images:
    needs: [ check-dockerhub-secrets-present, changes ]
    if: ${{ always() && needs.check-dockerhub-secrets-present.outputs.secrets_present == 'true' && needs.changes.outputs.cache_images == 'true' }}
    runs-on: gha-runner-scale-set-ubuntu-22.04-amd64-med
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Compute docker images hash
        id: compute-docker-images-hash
        uses: ./.github/actions/compute-docker-images-hash
      - name: Create cached docker images folder
        run: |
          mkdir -p ~/docker-images-cached
      - name: Cache common docker images
        id: cache-common-docker-images
        uses: actions/cache@v4
        with:
          path: ~/docker-images-cached
          key: docker-images-cache-${{ steps.compute-docker-images-hash.outputs.docker_images_hash }}
          lookup-only: true
      - name: Login to Docker Hub
        if: steps.cache-common-docker-images.outputs.cache-hit != 'true'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Pull docker images
        if: steps.cache-common-docker-images.outputs.cache-hit != 'true'
        run: |
          docker compose -f docker/compose.yml -f docker/compose-local-dev-traces-v2.overrides.yml --profile l1 --profile l2 pull
      - name: Save docker images
        if: steps.cache-common-docker-images.outputs.cache-hit != 'true'
        run: |
          docker save ${{ steps.compute-docker-images-hash.outputs.docker_images_unique }} -o  ~/docker-images-cached/docker-images.tar
          echo docker-images.tar=$(ls -lh ~/docker-images-cached/docker-images.tar)
