name: Check compilation

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install Go
      uses: actions/setup-go@v5.1.0

    - name: Install Go Corset
      shell: bash
      run: go install github.com/consensys/go-corset/cmd/go-corset@1aee6f95c28b1ca2f66f6d8347a0d247d8be38a4 # v1.2.0-rc3

    - name: Build all forks
      run: make -B all
