name: Check compilation

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install Go
      uses: actions/setup-go@v5.1.0

    - name: Install Go Corset
      shell: bash
      run: go install github.com/consensys/go-corset/cmd/go-corset@0722c5f4bce24ebacee831ace64b52043dc02497 # v1.2.0-rc2

    - name: Build all forks
      run: make -B all
