name: coordinator-testing

on:
  workflow_call:
    inputs:
      commit_tag:
        required: true
        type: string
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true

jobs:
  cache-docker-images:
    uses: ./.github/workflows/cache-docker-images.yml
    secrets: inherit
  run-tests:
    env:
      COMMIT_TAG: ${{ inputs.commit_tag }}
      GITHUB_TOKEN: ${{ secrets._GITHUB_TOKEN_RELEASE_ACCESS }}
    runs-on: ubuntu-22.04
    name: Coordinator tests
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Restore cached images
        id: restore-cached-images
        uses: actions/cache/restore@v4.0.2
        with:
          path: ~/docker-images
          key: cached-images
          restore-keys: |
            cached-images
      # Install pnpm to compile smart contracts
      - name: Setup nodejs environment
        uses: ./.github/actions/setup-nodejs
        with:
          pnpm-install-options: '--frozen-lockfile --prefer-offline --filter contracts --ignore-scripts'
      - name: Build coordinator and Unit tests
        run: |
          ./gradlew -V coordinator:app:buildNeeded
      - name: Run integration tests
        run: |
          ./gradlew integrationTest
      - name: Run Jacoco
        run: |
          ./gradlew jacocoRootReport
      - name: Upload Jacoco test coverage report
        uses: actions/upload-artifact@v4
        with:
          name: jacocoRootReport-${{ env.COMMIT_TAG }}.xml
          if-no-files-found: error
          path: |
            ${{ github.workspace }}/build/reports/jacoco/jacocoRootReport/jacocoRootReport.xml
      - name: Setup .NET Core # Required to execute ReportGenerator
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.x
          dotnet-quality: 'ga'
      - name: ReportGenerator
        uses: danielpalme/ReportGenerator-GitHub-Action@5.2.4
        with:
          reports: '${{ github.workspace }}/build/reports/jacoco/jacocoRootReport/*.xml'
          targetdir: '${{ github.workspace }}/build/reports/jacoco/jacocoRootReport/coverageReports'
          reporttypes: MarkdownSummary
          historydir: '${{ github.workspace }}/build/reports/jacoco/jacocoRootReport/coverageReports'
          title: 'Kotlin Code Coverage'
      - name: DeltaReportGenerator
        uses: danielpalme/ReportGenerator-GitHub-Action@5.2.4
        with:
          reports: '${{ github.workspace }}/build/reports/jacoco/jacocoRootReport/*.xml'
          targetdir: '${{ github.workspace }}/build/reports/jacoco/jacocoRootReport/coverageDeltaReports'
          reporttypes: MarkdownDeltaSummary
          historydir: '${{ github.workspace }}/build/reports/jacoco/jacocoRootReport/coverageReports'
          title: 'Kotlin Code Coverage'
      - name: Upload coverage report artifact
        id: upload
        uses: actions/upload-artifact@v4
        with:
          name: CoverageReport
          path: |
            ${{ github.workspace }}/build/reports/jacoco/jacocoRootReport/coverageReports
      - name: Write code coverage delta to PR
        uses: mshick/add-pr-comment@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          message-path: |
            ${{ github.workspace }}/build/reports/jacoco/jacocoRootReport/coverageDeltaReports/DeltaSummary.md


