name: coordinator-build

on:
  workflow_call:
    inputs:
      commit_tag:
        required: true
        type: string
      last_commit_tag:
        required: true
        type: string
      common_ancestor_tag:
        required: true
        type: string
      develop_tag:
        required: true
        type: string
      untested_tag_suffix:
        required: true
        type: string
      image_name:
        required: true
        type: string
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true

concurrency:
  group: coordinator-build-and-publish-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: {{ github.ref != main }}

jobs:
  build-and-publish:
    runs-on: ubuntu-22.04
    name: Coordinator build
    env:
      COMMIT_TAG: ${{ inputs.commit_tag }}
      DEVELOP_TAG: ${{ inputs.develop_tag }}
      UNTESTED_TAG_SUFFIX: ${{ inputs.untested_tag_suffix }}
      IMAGE_NAME: ${{ inputs.image_name }}
      GITHUB_TOKEN: ${{ secrets._GITHUB_TOKEN_RELEASE_ACCESS }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Build dist
        run: |
          ./gradlew coordinator:app:distZip --no-daemon
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Docker meta
        id: coordinator
        uses: docker/metadata-action@v3
        with:
          images: ${{ env.IMAGE_NAME }}
      - name: Build & push
        uses: docker/build-push-action@v6
        with:
          context: .
          build-contexts: zip=./coordinator/app/build/distributions/
          file: ./coordinator/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:${{ env.COMMIT_TAG }}-${{ env.UNTESTED_TAG_SUFFIX }}
          cache-from: type=registry,ref=${{ env.IMAGE_NAME }}:buildcache
          cache-to: type=registry,ref=${{ env.IMAGE_NAME }}:buildcache,mode=max
