name: Github Release for Finalized-Tag-Updater Besu Plugin
on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        type: string
        description: 'Release semantic version: e.g "1.0.0"'

jobs:
  release:
    runs-on: gha-runner-scale-set-ubuntu-22.04-amd64-small
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      # Configure Gradle for optimal use in GiHub Actions, including caching of downloaded dependencies.
      # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Clean
        # ./gradlew clean is necessary because the build is cached
        # and cause issues with JReleaser
        run: ./gradlew clean

      - name: Build
        run: |
          ./gradlew :finalized-tag-updater:shadowJar -Pversion=v${{inputs.version}}

      - name: Release to GitHub
        uses: jreleaser/release-action@v2
        with:
          arguments: full-release --git-root-search --basedir=${{ github.workspace }}/finalized-tag-updater
        env:
          GITHUB_TOKEN: ${{ secrets._GITHUB_TOKEN_RELEASE_ACCESS }}
          JRELEASER_TAG_NAME: finalized-tag-updater-v${{inputs.version}}
          JRELEASER_PROJECT_VERSION: '0.0.1'
          JRELEASER_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          JRELEASER_GITHUB_USERNAME: ${{ github.actor }}
          JRELEASER_GITHUB_EMAIL: ${{ github.actor }}@users.noreply.github.com

      # Persist logs
      - name: JReleaser release output
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: jreleaser-release
          path: |
            build/jreleaser/trace.log
            build/jreleaser/output.properties
