name: get-has-changes-requiring-e2e-testing

permissions:
  contents: read

on:
  workflow_call:
    outputs:
      has-changes-requiring-e2e-testing:
        value: ${{ jobs.get-has-changes-requiring-e2e-testing.outputs.has_changes_requiring_e2e_testing }}

jobs:
  get-has-changes-requiring-e2e-testing:
    runs-on: gha-runner-scale-set-ubuntu-22.04-amd64-small
    outputs:
      has_changes_requiring_e2e_testing: ${{ steps.filter.outputs.e2e-tests }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Filter commit changes for e2e tests
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 #v3.0.2
        id: filter
        with:
          base: ${{ github.ref }}
          filters: |
            e2e-tests:
              - 'coordinator/**/src/main/**'
              - 'jvm-libs/**/src/main/**'
              - 'transaction-exclusion-api/**/src/main/**'
              - 'config/**/*.toml'
              - 'linea-besu-package/versions.env'
              - 'linea-besu-package/scripts/assemble-packages.sh'
              - 'postman/src/**'
              - 'prover/**/*.go'
              - 'prover/**/*.mod'
              - 'contracts/local-deployments-artifacts/**'
              - 'docker/**'
              - 'e2e/src/**'
              - 'sdk/**/src/**'
              - 'ts-libs/**/src/**'
              - '.github/workflows/main.yml'
              - '.github/workflows/reuse-run-e2e-tests.yml'
              - '!**/*.test.ts'
              - '!**/*.spec.ts'
              - '!**/*.md'
              - '!**/*.mdx'
              - '!prover/**/*_test.go'
