name: Manual Linea Sequencer Release Assets

permissions:
  contents: write
  packages: write

on:
  workflow_dispatch:
    inputs:
      release_tag:
        description: Release tag (Must prefix with "linea-sequencer-")
        required: true
        type: string
        default: "linea-sequencer-beta-v4.4-rc8.1"

jobs:
  build:
    runs-on: gha-runner-scale-set-ubuntu-22.04-amd64-small
    steps:
      - name: Configure Tag
        id: config
        # set tag to use in subsequent steps.
        run: |
          if [[ "$tag_name" != "linea-sequencer-"* ]]; then
            echo "Error: The given 'inputs.release_tag' does not start with 'linea-sequencer-'"
            exit 1
          fi
          echo "VERSION_TAG=${tag_name#linea-sequencer-}" >> $GITHUB_OUTPUT
          echo "RELEASE_TAG=${tag_name}" >> $GITHUB_OUTPUT
        env:
          tag_name: ${{ inputs.release_tag }}
      
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: false
      - name: Setup Tracer Environment # configures Go, Java, Gradle, and gets submodules
        uses: ./.github/actions/setup-tracer-environment
        with:
          enable-ssh: false

      - name: Build artifacts
        run: ./gradlew besu-plugins:linea-sequencer:sequencer:artifacts -PreleaseVersion=${{ steps.config.outputs.VERSION_TAG }}
        env:
          JAVA_OPTS: -Xmx2g -Dorg.gradle.daemon=false
      
      - name: Upload assets
        id: upload-assets
        run: |
          echo "CREATE_TAG=$(gh release create "${{ steps.config.outputs.RELEASE_TAG }}" $jar_asset --target "${{ github.ref }}" 2>&1)" >> $GITHUB_OUTPUT
          gh release upload ${{ steps.config.outputs.RELEASE_TAG }} $zip_asset
        env:
          zip_asset: ./besu-plugins/linea-sequencer/sequencer/build/distributions/linea-sequencer-${{ steps.config.outputs.VERSION_TAG }}.zip
          GH_TOKEN: ${{ github.token }}

