name: linea-besu-package-release

on:
  workflow_dispatch:
    inputs:
      without_besu_fleet_plugin:
        description: 'Type "true" to exclude besu-fleet-plugin in the release'
        required: false
        type: string
        default: ''
      skip_e2e_test:
        description: '(For Debug) Type "true" to skip e2e test for the need of pushing image to dockerhub'
        required: false
        type: string
        default: ''
      skip_push_image:
        description: 'Type "true" to skip pushing image to dockerhub'
        required: false
        type: string
        default: ''

permissions:
  actions: read
  id-token: write
  contents: write
  packages: write

jobs:
  build-test-push:
    uses: ./.github/workflows/reuse-linea-besu-package-build-test-push.yml
    with:
      run_test: true
      run_e2e_test: ${{ inputs.skip_e2e_test != 'true' }}
      push_image: ${{ inputs.skip_push_image != 'true' }}
      with_besu_fleet_plugin: ${{ inputs.without_besu_fleet_plugin != 'true' }}
    secrets: inherit
