name: linea-sequencer-plugin-testing

permissions:
  contents: read
  actions: read

on:
  workflow_call:

concurrency:
  group: linea-sequencer-plugin-testing-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  run-linea-sequencer-plugins-unit-tests:
    name: "Sequencer Plugin Unit Tests"
    runs-on: gha-runner-scale-set-ubuntu-22.04-amd64-small
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Tracer Environment # configures Go, Java, Gradle, and gets submodules
        uses: ./.github/actions/setup-tracer-environment
        with:
          enable-ssh: false

      - name: spotless
        run: ./gradlew --parallel besu-plugins:linea-sequencer:spotlessCheck

      - name: Build
        run: ./gradlew besu-plugins:linea-sequencer:build

      - name: Upload distribution artifacts
        uses: actions/upload-artifact@v4
        with:
          name: distributions
          path: besu-plugins/linea-sequencer/sequencer/build/libs

      - name: Run unit tests
        run: ./gradlew besu-plugins:linea-sequencer:sequencer:test

      - name: Upload test report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: unit-test-report
          path: besu-plugins/linea-sequencer/sequencer/build/reports/tests/test/
      - name: Upload Jacoco execution data
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-linea-sequencer-unit-exec
          path: |
            **/build/jacoco/*.exec
          if-no-files-found: ignore

  run-linea-sequencer-plugins-acceptance-tests:
    name: "Sequencer Plugin Acceptance Tests"
    runs-on: gha-runner-scale-set-ubuntu-22.04-amd64-large
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Tracer Environment
        uses: ./.github/actions/setup-tracer-environment
        with:
          enable-ssh: false

      - name: Run acceptance tests
        run: ./gradlew besu-plugins:linea-sequencer:acceptance-tests:acceptanceTests
        env:
          JAVA_OPTS: -Xmx10g -Xms2g

      - name: Upload test report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: acceptance-test-report
          path: besu-plugins/linea-sequencer/acceptance-tests/build/reports/tests/
      - name: Upload Jacoco execution data
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-linea-sequencer-acceptance-exec
          path: |
            **/build/jacoco/*.exec
          if-no-files-found: ignore
