name: postman-build

on:
  workflow_call:
    inputs:
      commit_tag:
        required: true
        type: string
      develop_tag:
        required: true
        type: string
      image_name:
        required: true
        type: string
      push_image:
        required: false
        type: boolean
        default: false
    secrets:
      DOCKERHUB_USERNAME:
        required: false
      DOCKERHUB_TOKEN:
        required: false
  workflow_dispatch:
    inputs:
      commit_tag:
        description: 'Image tag'
        required: true
        type: string
      develop_tag:
        description: 'Image tag will be "develop" if target branch is main'
        required: true
        type: choice
        options:
          - develop
        default: 'develop'
      image_name:
        description: 'Image name'
        required: true
        type: string
        default: 'consensys/linea-postman'
      push_image:
        description: 'Toggle whether to push image to docker registry'
        required: false
        type: boolean
        default: true

concurrency:
  group: postman-build-and-publish-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  build-and-publish:
    runs-on: gha-runner-scale-set-ubuntu-22.04-amd64-small
    name: Postman build
    env:
      COMMIT_TAG: ${{ inputs.commit_tag }}
      DEVELOP_TAG: ${{ inputs.develop_tag }}
      IMAGE_NAME: ${{ inputs.image_name }}
      PUSH_IMAGE: ${{ inputs.push_image }}
      TAGS: ${{ inputs.image_name }}:${{ inputs.commit_tag }}
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
    steps:
      - name: Set develop tag if main branch
        if: ${{ github.ref == 'refs/heads/main' }}
        run: |
          echo "TAGS=${{ env.IMAGE_NAME }}:${{ env.COMMIT_TAG }},${{ env.IMAGE_NAME }}:${{ env.DEVELOP_TAG }}" >> $GITHUB_ENV
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2
        with:
          ssh-key: ${{ secrets.SELF_GITHUB_SSH_KEY }}
          submodules: true
          persist-credentials: false
      - name: Login to Docker Hub
        if: ${{ env.DOCKERHUB_USERNAME != '' && env.DOCKERHUB_TOKEN != '' }}
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 #v3.3.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@53851d14592bedcffcf25ea515637cff71ef929a #v3.3.0
        with:
          platforms: 'arm64,arm'
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@6524bf65af31da8d45b59e8c27de4bd072b392f5 #v3.8.0
      - name: Show the "version" build argument
        run: |
          echo "We inject the commit tag in the docker image ${{ env.COMMIT_TAG }}"
          echo COMMIT_TAG=${{ env.COMMIT_TAG }} >> $GITHUB_ENV
      - name: Build postman image for testing
        uses: docker/build-push-action@b32b51a8eda65d6793cd0494a773d4f6bcef32dc #v6.11.0
        if: ${{ env.PUSH_IMAGE == 'false' }}
        with:
          context: ./
          file: ./postman/Dockerfile
          platforms: linux/amd64
          load: true
          push: false
          tags: ${{ env.IMAGE_NAME }}:${{ env.COMMIT_TAG }}
          build-args: |
            NATIVE_LIBS_RELEASE_TAG=blob-libs-v1.0.1
      - name: Save Docker image as artifact
        if: ${{ env.PUSH_IMAGE == 'false' }}
        run: |
          docker save ${{ env.IMAGE_NAME }}:${{ env.COMMIT_TAG }} | gzip > linea-postman-docker-image.tar.gz
        shell: bash
      - name: Upload Docker image artifact
        if: ${{ env.PUSH_IMAGE == 'false' }}
        uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 #v4.6.0
        with:
          name: linea-postman
          path: linea-postman-docker-image.tar.gz
      - name: Build and push postman image
        uses: docker/build-push-action@b32b51a8eda65d6793cd0494a773d4f6bcef32dc #v6.11.0
        if: ${{ env.PUSH_IMAGE == 'true' || github.event_name == 'workflow_dispatch' }}
        with:
          context: ./
          file: ./postman/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ env.TAGS }}
          cache-from: |
            type=registry,ref=${{ env.IMAGE_NAME }}:buildcache-amd64,platform=linux/amd64
            type=registry,ref=${{ env.IMAGE_NAME }}:buildcache-arm64,platform=linux/arm64
          cache-to: |
            type=registry,ref=${{ env.IMAGE_NAME }}:buildcache-amd64,mode=max,platform=linux/amd64
            type=registry,ref=${{ env.IMAGE_NAME }}:buildcache-arm64,mode=max,platform=linux/arm64
          build-args: |
            NATIVE_LIBS_RELEASE_TAG=blob-libs-v1.0.1
