name: Prover build and publish CI

on:
  workflow_call:
    inputs:
      commit_tag:
        required: true
        type: string
      last_commit_tag:
        required: true
        type: string
      common_ancestor_tag:
        required: true
        type: string
      develop_tag:
        required: true
        type: string
      untested_tag_suffix:
        required: true
        type: string
      image_name:
        required: true
        type: string
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true

concurrency:
  group: prover-build-and-publish-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

env:
  GOPROXY: "https://proxy.golang.org"

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    name: Prover build
    environment: docker-build-and-e2e
    env:
      COMMIT_TAG: ${{ inputs.commit_tag }}
      DEVELOP_TAG: ${{ inputs.develop_tag }}
      UNTESTED_TAG_SUFFIX: ${{ inputs.untested_tag_suffix }}
      IMAGE_NAME: ${{ inputs.image_name }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.SELF_GITHUB_SSH_KEY }}
          submodules: true
          persist-credentials: false
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Show the "version" build argument
        run: |
          echo "We inject the commit tag in the docker image ${{ env.COMMIT_TAG }}"
          echo COMMIT_TAG=${{ env.COMMIT_TAG }} >> $GITHUB_ENV
      - name: Build and push prover image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./prover/Dockerfile
          build-args: |
            RUSTFLAGS="-C target-cpu=x86-64-v3"
          build-contexts: |
            prover=prover/
            corset=corset/
            constraints=constraints/
          platforms: linux/amd64
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:${{ env.COMMIT_TAG }}-${{ env.UNTESTED_TAG_SUFFIX }}
          cache-from: type=registry,ref=${{ env.IMAGE_NAME }}:buildcache
          cache-to: type=registry,ref=${{ env.IMAGE_NAME }}:buildcache,mode=max
