name: Reusable run e2e tests

permissions:
  contents: read
  actions: read

on:
  workflow_call:
    inputs:
      linea_besu_package_tag:
        description: The tag to use for all linea-besu-package images
        required: true
        type: string
      expected_traces_api_version:
        description: The expected traces api version used by cooridinator
        required: true
        type: string
      e2e-tests-with-ssh:
        description: Run end to end tests with ability to ssh into environment
        required: false
        type: boolean
        default: false
      e2e-tests-logs-dump:
        description: Dump logs after running end to end tests
        required: false
        type: boolean
        default: false
      e2e-tests-containers-list:
        description: List containers before starting end to end tests
        required: false
        type: boolean
        default: true
      e2e-tests-with-besu-fleet:
        description: Run end to end tests with Besu fleet nodes
        required: false
        type: boolean
        default: false
    outputs:
      tests_outcome:
        value: ${{ jobs.run-e2e-tests.outputs.tests_outcome }}
    secrets:
      DOCKERHUB_USERNAME:
        required: false
      DOCKERHUB_TOKEN:
        required: false

jobs:
  # Required job
  run-e2e-tests:
    env:
      BESU_PACKAGE_TAG: ${{ inputs.linea_besu_package_tag }}
      EXPECTED_TRACES_API_VERSION: ${{ inputs.expected_traces_api_version }}
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
    outputs:
      tests_outcome: ${{ steps.run_e2e_tests.outcome }}
    # xl saves ~0 mins
    runs-on: gha-runner-scale-set-ubuntu-22.04-amd64-xl
    steps:
      - name: Setup upterm session
        if: ${{ inputs.e2e-tests-with-ssh }}
        uses: lhotari/action-upterm@b0357f23233f5ea6d58947c0c402e0631bab7334 #v1
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup nodejs environment
        uses: ./.github/actions/setup-nodejs
        with:
          pnpm-install-options: '-F contracts -F e2e --frozen-lockfile --prefer-offline'
      - name: Login to Docker Hub
        if: ${{ env.DOCKERHUB_USERNAME != '' && env.DOCKERHUB_TOKEN != '' }}
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 #v3.4.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Create directory for conflated traces
        run: |
          mkdir -p tmp/local/traces/v2/conflated
          chmod -R a+rw tmp/local/
      - name: Download local docker image artifacts
        uses: actions/download-artifact@v7
        with:
          pattern: linea-besu-package*
      - name: Load Docker images
        run: |
          pwd && ls -la && echo "GITHUB_WORKSPACE=$GITHUB_WORKSPACE" &&
          gunzip -c $GITHUB_WORKSPACE/linea-besu-package/linea-besu-package-image.tar.gz | docker load
        shell: bash
      - name: Replace expected traces api version in coordinator config file
        shell: bash
        run: |
          sed -i 's/^\(expected-traces-api-version[ ]*=[ ]*\).*/\1"${{ env.EXPECTED_TRACES_API_VERSION }}"/' config/coordinator/coordinator-config-v2.toml
          echo "EXPECTED_TRACES_API_VERSION=${{ env.EXPECTED_TRACES_API_VERSION }}"
          echo "BESU_PACKAGE_TAG=${{ env.BESU_PACKAGE_TAG }}"
          echo "$(grep expected-traces-api-version config/coordinator/coordinator-config-v2.toml)"
      - name: Spin up fresh environment with besu tracing with retry
        if: ${{ !inputs.e2e-tests-with-besu-fleet }}
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 #v3.0.2
        with:
          max_attempts: 10
          retry_on: error
          retry_wait_seconds: 30
          timeout_minutes: 10
          command: |
            make start-env-with-tracing-v2-ci CLEAN_PREVIOUS_ENV=false
          on_retry_command: |
            make clean-environment
      - name: Spin up fresh environment with besu tracing and fleet nodes with retry
        if: ${{ inputs.e2e-tests-with-besu-fleet }}
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 #v3.0.2
        with:
          max_attempts: 10
          retry_on: error
          retry_wait_seconds: 30
          timeout_minutes: 10
          command: |
            make start-env-with-tracing-v2-fleet-ci CLEAN_PREVIOUS_ENV=false BESU_PACKAGE_IMAGE_NAME=linea-besu-package
          on_retry_command: |
            make clean-environment
      - name: List docker containers/images
        if: ${{ always() && inputs.e2e-tests-containers-list }}
        continue-on-error: true
        run: |
          docker ps -la && docker images
          docker container ls -a
      - name: Run e2e tests
        id: run_e2e_tests
        timeout-minutes: 6
        run: |
          pnpm run -F e2e test:e2e:local
      - name: Run extra e2e tests for Besu fleet nodes
        id: run_e2e_tests_fleet
        if: ${{ inputs.e2e-tests-with-besu-fleet }}
        timeout-minutes: 4
        run: |
          pnpm run -F e2e test:e2e:fleet:local
      - name: Show e2e tests result
        if: always()
        run: |
          echo "E2E_TESTS_RESULT: ${{ steps.run_e2e_tests.outcome }}"
      - name: Dump logs
        if: ${{ failure() && inputs.e2e-tests-logs-dump }}
        run: |
          mkdir -p docker_logs
          find tmp/local/ >> docker_logs/files_in_shared_dir.txt || true
          docker ps -a >> docker_logs/docker_ps.txt || true
          docker logs coordinator --since 1h &>> docker_logs/coordinator.txt || true
          docker logs prover-v3 --since 1h &>> docker_logs/prover-v3.txt || true
          docker logs shomei --since 1h &>> docker_logs/shomei.txt || true
          docker logs zkbesu-shomei --since 1h &>> docker_logs/zkbesu-shomei.txt || true
          docker logs shomei-frontend --since 1h &>> docker_logs/shomei-frontend.txt || true
          docker logs postman --since 1h &>> docker_logs/postman.txt || true
          docker logs traces-node --since 1h &>> docker_logs/traces-node.txt || true
          docker logs l2-node-besu --since 1h &>> docker_logs/l2-node-besu.txt || true
          docker logs transaction-exclusion-api --since 1h &>> docker_logs/transaction-exclusion-api.txt || true
          docker logs sequencer --since 1h &>> docker_logs/sequencer.txt || true
          docker logs l1-el-node --since 1h &>> docker_logs/l1-el-node.txt || true
          if [[ "${{ inputs.e2e-tests-with-besu-fleet }}" == "true" ]]; then
            docker logs l2-node-besu-follower --since 1h &>> docker_logs/l2-node-besu-follower.txt || true
          fi
      - name: Archive debug logs
        uses: actions/upload-artifact@v4
        if: ${{ failure() && inputs.e2e-tests-logs-dump }}
        with:
          name: end-2-end-debug-logs
          if-no-files-found: error
          path: |
            docker_logs/**/*
