name: Reusable store image name and tags
on:
  workflow_call:
    outputs:
      commit_tag:
        value: ${{ jobs.store_image_name_and_tags.outputs.commit_tag }}
      last_commit_tag:
        value: ${{ jobs.store_image_name_and_tags.outputs.last_commit_tag }}
      develop_tag:
        value: ${{ jobs.store_image_name_and_tags.outputs.develop_tag }}

concurrency:
  group: store-image-name-and-tags-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  store_image_name_and_tags:
    runs-on: [self-hosted, ubuntu-20.04, X64, small]
    name: Compute version tags
    env:
      # REF_NAME: ${{ github.ref_name }}
      EVENT_BEFORE: ${{ github.event.before }}
    outputs:
      commit_tag: ${{ steps.step1.outputs.COMMIT_TAG }}
      last_commit_tag: ${{ steps.step1.outputs.LAST_COMMIT_TAG }}
      develop_tag: ${{ steps.step1.outputs.DEVELOP_TAG }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Compute version tags
        id: step1
        run: |
          echo COMMIT_TAG=$(git rev-parse --short "$GITHUB_SHA") >> $GITHUB_OUTPUT
          echo LAST_COMMIT_TAG=$(git rev-parse --short "${{ env.EVENT_BEFORE }}") >> $GITHUB_OUTPUT
          echo DEVELOP_TAG=develop >> $GITHUB_OUTPUT
      - name: Show version tags
        id: step2
        run: |
          echo "COMMIT_TAG: ${{ steps.step1.outputs.COMMIT_TAG }}"
          echo "LAST_COMMIT_TAG: ${{ steps.step1.outputs.LAST_COMMIT_TAG }}"
          echo "DEVELOP_TAG: ${{ steps.step1.outputs.DEVELOP_TAG }}"
          echo "github.ref: ${{ github.ref }}"
      # Persist this value for 'disconnected' subsequent workflows - i.e. `upload-codecov` that runs on `workflow_run`
      - name: Save COMMIT_TAG to local .txt. file
        run: echo "COMMIT_TAG=${{ steps.step1.outputs.COMMIT_TAG }}" > COMMIT_TAG.txt
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: COMMIT_TAG_${{ github.sha }}
          path: COMMIT_TAG.txt
