name: Smart contracts test

on:
  push:
    paths:
      - 'contracts/**'
      - 'testdata/**'
      - 'prover/**'

env:
  GOPROXY: "https://proxy.golang.org"

jobs:
  run-contract-tests:
    runs-on: besu-arm64
    name: Run smart contracts tests
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}

      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.23.x
          cache: false

      - uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
            ~/Library/Caches/go-build
            %LocalAppData%\go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Setup nodejs environment
        uses: ./.github/actions/setup-nodejs

      - name: Check JS formatting
        run: pnpm -F contracts run lint:ts

      - name: Compile kzg.node
        run: npx node-gyp --directory=contracts/node_modules/c-kzg rebuild # explicitly running rebuild to get the .node file

      - name: Run smart contracts tests and generate coverage report
        run: pnpm -F contracts run coverage

  solidity-format-check:
    runs-on: besu-arm64
    name: Solidity format check
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}

      - name: Setup nodejs environment
        uses: ./.github/actions/setup-nodejs

      - name: Check Solidity formatting
        run: pnpm -F contracts run lint:sol
