name: Smart contracts test

on:
  pull_request:
    paths:
      - '.github/workflows/run-smc-tests.yml'
      - 'contracts/**'
      - 'testdata/**'
      - 'prover/**'
      - '!contracts/**/*.md'
      - '!contracts/**/*.mdx'
      - '!testdata/**/*.md'
      - '!prover/**/*.md'
      - '!**/docs/**'
  push:
    branches:
      - main
    paths:
      - '.github/workflows/run-smc-tests.yml'
      - 'contracts/**'
      - 'testdata/**'
      - 'prover/**'
      - '!contracts/**/*.md'
      - '!contracts/**/*.mdx'
      - '!testdata/**/*.md'
      - '!prover/**/*.md'
      - '!**/docs/**'

env:
  GOPROXY: "https://proxy.golang.org"

jobs:
  run-contract-tests:
    # ~2 mins saved vs small
    runs-on: gha-runner-scale-set-ubuntu-22.04-amd64-med
    name: Run smart contracts tests
    env:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.x
          cache-dependency-path: |
                prover/go.sum

      - uses: actions/cache@v4.2.0
        with:
          path: |
            ~/.cache/go-build
            ~/Library/Caches/go-build
            %LocalAppData%\go-build
          key: ${{ runner.os }}-go-${{ hashFiles('prover/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Setup nodejs environment
        uses: ./.github/actions/setup-nodejs

      - name: Check JS formatting
        run: pnpm -F contracts run lint:ts

      # Required for hardhat commands due to @nomicfoundation/hardhat-foundry package
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Compile kzg.node
        run: npx node-gyp --directory=contracts/node_modules/c-kzg rebuild # explicitly running rebuild to get the .node file

      - name: Run smart contracts tests and generate coverage report
        run: pnpm -F contracts run coverage

      - name: Compute and save COMMIT_TAG
        run: |
          echo COMMIT_TAG=$(git rev-parse --short "$GITHUB_SHA") >> $GITHUB_ENV

      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: smart-contract-coverage-${{ env.COMMIT_TAG }}.json
          if-no-files-found: error
          path: |
            ./contracts/coverage/coverage-final.json

      - name: Upload coverage to Codecov
        if: ${{ env.CODECOV_TOKEN != '' }}
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          files: ./contracts/coverage/coverage-final.json
          flags: hardhat
          os: linux
          name: codecov-contracts
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}

  solidity-format-check:
    runs-on: [self-hosted, ubuntu-20.04, X64, small]
    name: Solidity format check
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup nodejs environment
        uses: ./.github/actions/setup-nodejs

      - name: Check Solidity formatting
        run: pnpm -F contracts run lint:sol
