name: Testing CI

on:
  workflow_call:
    inputs:
      commit_tag:
        required: true
        type: string
      coordinator_changed:
        required: true
        type: string
      postman_changed:
        required: true
        type: string
      prover_changed:
        required: true
        type: string
      traces_api_facade_changed:
        required: true
        type: string
      transaction_exclusion_api_changed:
        required: true
        type: string

jobs:
  coordinator:
    uses: ./.github/workflows/coordinator-testing.yml
    if: ${{ always() && inputs.coordinator_changed == 'true' }}
    with:
      commit_tag: ${{ inputs.commit_tag }}
    secrets: inherit

  prover:
    uses: ./.github/workflows/prover-testing.yml
    if: ${{ always() && inputs.prover_changed == 'true' }}
    secrets: inherit

  postman:
    uses: ./.github/workflows/postman-testing.yml
    if: ${{ always() && inputs.postman_changed == 'true' }}
    secrets: inherit

  traces-api-facade:
    uses: ./.github/workflows/traces-api-facade-testing.yml
    if: ${{ always() && inputs.traces_api_facade_changed == 'true' }}

  transaction-exclusion-api:
    uses: ./.github/workflows/transaction-exclusion-api-testing.yml
    if: ${{ always() && inputs.transaction_exclusion_api_changed == 'true' }}
