name: Testing CI

on:
  workflow_call:
    inputs:
      commit_tag:
        required: true
        type: string
      coordinator_changed:
        required: true
        type: string
      postman_changed:
        required: true
        type: string
      prover_changed:
        required: true
        type: string
      traces_api_facade_changed:
        required: true
        type: string
      coordinator_image_tagged:
        required: true
        type: string
      postman_image_tagged:
        required: true
        type: string
      traces_api_facade_image_tagged:
        required: true
        type: string
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  coordinator:
    uses: ./.github/workflows/coordinator-testing.yml
    if: ${{ always() && (inputs.coordinator_changed == 'true' || inputs.coordinator_image_tagged != 'true') }}
    with:
      commit_tag: ${{ inputs.commit_tag }}
    secrets: inherit

  prover:
    uses: ./.github/workflows/prover-testing.yml
    if: ${{ always() && inputs.prover_changed == 'true' }}
    secrets: inherit

  postman:
    uses: ./.github/workflows/postman-testing.yml
    if: ${{ always() && (inputs.postman_changed == 'true' || inputs.postman_image_tagged != 'true') }}
    secrets: inherit

  traces-api-facade:
    uses: ./.github/workflows/traces-api-facade-testing.yml
    if: ${{ always() && (inputs.traces_api_facade_changed == 'true' || inputs.traces_api_facade_image_tagged != 'true') }}
    secrets: inherit
