name: Testing CI

on:
  workflow_call:
    inputs:
      commit_tag:
        required: true
        type: string
      coordinator_changed:
        required: true
        type: string
      postman_changed:
        required: true
        type: string
      prover_changed:
        required: true
        type: string
      traces_api_facade_changed:
        required: true
        type: string
      transaction_exclusion_api_changed:
        required: true
        type: string

jobs:
  coordinator:
    uses: ./.github/workflows/coordinator-testing.yml
    if: ${{ inputs.coordinator_changed == 'true' }}
    with:
      commit_tag: ${{ inputs.commit_tag }}
    secrets: inherit

  prover:
    uses: ./.github/workflows/prover-testing.yml
    if: ${{ inputs.prover_changed == 'true' }}
    secrets: inherit

  postman:
    uses: ./.github/workflows/postman-testing.yml
    if: ${{ inputs.postman_changed == 'true' }}
    secrets: inherit

  traces-api-facade:
    uses: ./.github/workflows/traces-api-facade-testing.yml
    if: ${{ inputs.traces_api_facade_changed == 'true' }}

  transaction-exclusion-api:
    uses: ./.github/workflows/transaction-exclusion-api-testing.yml
    if: ${{ inputs.transaction_exclusion_api_changed == 'true' }}

  staterecovery:
    uses: ./.github/workflows/staterecovery.yml
    if: ${{ inputs.staterecovery_changed == 'true' }}
    with:
      commit_tag: ${{ inputs.commit_tag }}
    secrets: inherit

  # If all jobs are skipped, the workflow will still succeed.
  always_succeed:
    runs-on: ubuntu-24.04
    if: ${{ inputs.coordinator_changed == 'false' && inputs.prover_changed == 'false' && inputs.postman_changed == 'false' && inputs.traces_api_facade_changed == 'false' && inputs.transaction_exclusion_api_changed == 'false' }}
    steps:
      - name: Ensure Workflow Success
        run: echo "All jobs were skipped, but workflow succeeds."
