name: Tracer constraints check compilation

on:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: gha-runner-scale-set-ubuntu-22.04-amd64-med
    steps:
      - name: Checkout repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          submodules: false

      - name: Setup Environment
        uses: ./.github/actions/setup-tracer-environment

      - name: Run Tracer buildZkevmBins
        run: ./gradlew :tracer:arithmetization:buildZkevmBins
