name: "Tracer Unit & Fast Replay Tests & One Blockchain Ref Test validation flow"

permissions:
  contents: read
  actions: read

on:
  pull_request:
    branches:
      - main
    paths:
      - 'tracer/**'
      - 'tracer-constraints/**'
      - '.github/actions/setup-tracer-environment/**'
      - '.github/workflows/tracer-*.yml'
      - '.github/workflows/reusable-tracer-*.yml'
  push:
    branches:
      - main
    paths:
      - 'tracer/**'
      - 'tracer-constraints/**'
      - '.github/actions/setup-tracer-environment/**'
      - '.github/workflows/tracer-*.yml'
      - '.github/workflows/reusable-tracer-*.yml'

jobs:
  run-tracer-tests:
    if: github.event.pull_request.head.repo.fork == false
    uses: ./.github/workflows/tracer-gradle-tests.yml
    secrets: inherit

  validation-reference-test-flow:
    if: github.event.pull_request.head.repo.fork == false
    uses: ./.github/workflows/reusable-tracer-blockchain-tests.yml
    secrets: inherit
    with:
      zkevm_fork: OSAKA
      test_filter: 'BlockchainReferenceTest_10'
      failed_module: ''
      failed_constraint: ''
      commit: ''
