.wrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.75rem 1rem;
  cursor: pointer;
  border-radius: 0.3125rem;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--v2-color-light-pink);
  }

  .image {
    width: 1.5rem;
    height: 1.5rem;
  }
  .name {
    font-family: var(--font-atyp-text);
    font-weight: 500;
    font-size: 1rem;
  }
}
